.header__mobile {
  display: none; }

@media (min-width: 0) and (max-width: 992px) {
  body {
    background: #131313; }
  .main-screen, .menu, .guests, .gallery, .footer {
    display: none; }
  .header__logo {
    display: none; }
  .header__nav {
    display: none; }
  .header__mobile {
    display: block;
    position: relative; }
    .header__mobile-top {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -webkit-flex-direction: row;
          -ms-flex-direction: row;
              flex-direction: row;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
          -ms-flex-pack: justify;
              justify-content: space-between;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      padding-top: 12px;
      padding-bottom: 12px;
      padding-left: 23px;
      padding-right: 23px; }
    .header__mobile-menu-item {
      font-weight: 700;
      font-size: 12px;
      text-transform: uppercase;
      margin-bottom: 23px; }
      .header__mobile-menu-item-link {
        color: white;
        -webkit-transition: 0.25s all ease-in-out;
        -o-transition: 0.25s all ease-in-out;
        transition: 0.25s all ease-in-out; }
        .header__mobile-menu-item-link:hover {
          color: #FF141E;
          -webkit-transition: 0.25s all ease-in-out;
          -o-transition: 0.25s all ease-in-out;
          transition: 0.25s all ease-in-out; }
        .header__mobile-menu-item-link.header__mobile-menu-item-link_cur {
          color: #FF141E;
          -webkit-transition: 0.25s all ease-in-out;
          -o-transition: 0.25s all ease-in-out;
          transition: 0.25s all ease-in-out; }
      .header__mobile-menu-item:last-child {
        margin-bottom: 0; }
    .header__mobile-menu-btn {
      background: none;
      border: none;
      width: 32px;
      height: 19px;
      display: block;
      cursor: pointer; }
      .header__mobile-menu-btn-line {
        display: block;
        height: 3.2px;
        width: 100%;
        margin-bottom: 5.5px;
        background: white; }
    .header__mobile-nav {
      padding-top: 55px;
      margin-bottom: 70px; }
      .header__mobile-nav-container {
        padding-left: 42px;
        padding-bottom: 120px;
        min-height: -webkit-calc(100vh - 62px);
        min-height: calc(100vh - 62px);
        background: #060606;
        position: absolute;
        top: 62px;
        left: -15px;
        width: -webkit-calc(100% + 30px);
        width: calc(100% + 30px); } }
