@media (min-width: 1200px) and (max-width: 1600px) {
  .special-offer {
    padding-top: 118px;
    padding-bottom: 114px; } }

@media (min-width: 992px) {
  .header-mobile, .button-mobile {
    display: none; } }

@media (min-width: 0) and (max-width: 992px) {
  .container {
    padding-left: 15px;
    padding-right: 15px; }
  .h2 {
    font-size: 30px;
    letter-spacing: 3.5px;
    margin-top: 40px;
    margin-bottom: 40px; }
    .h2::after {
      display: none; }
    .h2::before {
      display: none; }
  .btn-accent {
    width: 300px; }
    .btn-accent::after {
      width: 100%;
      left: 0; }
    .btn-accent::before {
      width: 100%;
      left: 0; }
  .title-with-sub {
    font-size: 16px;
    line-height: normal; }
    .title-with-sub::after {
      display: none; }
    .title-with-sub::before {
      display: none; }
    .title-with-sub .large {
      font-size: 30px;
      line-height: normal; }
  .header {
    min-height: 77px; }
    .header .top-header {
      text-align: right; }
      .header .top-header .register, .header .top-header .authorize {
        display: none !important; }
    .header .header-desc {
      display: none; }
    .header .main-header .top-main-header, .header .main-header .main-header-nav {
      display: none; }
    .header .main-header .logo-row {
      padding-top: 30px; }
      .header .main-header .logo-row .logo::after {
        display: none; }
      .header .main-header .logo-row .logo::before {
        display: none; }
    .header .top-header {
      min-height: 77px;
      padding-top: 15px;
      padding-bottom: 15px;
      position: relative; }
      .header .top-header .header-title {
        font-size: 15px; }
      .header .top-header .callback-block {
        padding: 0;
        border: none;
        text-align: right; }
        .header .top-header .callback-block .text-gradient {
          position: relative;
          white-space: nowrap;
          bottom: 0;
          display: inline-block;
          width: auto;
          font-size: 17px; }
        .header .top-header .callback-block .phone-link {
          display: block;
          white-space: nowrap;
          padding: 0;
          border: none;
          font-size: 17px; }
        .header .top-header .callback-block::after {
          display: none; }
        .header .top-header .callback-block::before {
          display: none; }
  .main-banner .slider-title {
    font-size: 30px;
    line-height: 40px; }
  .main-banner .banner-slider .banner-item {
    padding-top: 0px; }
    .main-banner .banner-slider .banner-item .banner-text {
      margin-top: 0;
      font-size: 16px;
      margin-bottom: 20px; }
    .main-banner .banner-slider .banner-item .banner-wrapper {
      border: none;
      padding-left: 0;
      padding-right: 0; }
      .main-banner .banner-slider .banner-item .banner-wrapper::after {
        display: none; }
      .main-banner .banner-slider .banner-item .banner-wrapper::before {
        display: none; }
  .categories .cat-item {
    margin-left: auto;
    margin-right: auto; }
  .popular::after {
    top: 116px; }
  .popular-slider .owl-nav button.owl-prev {
    left: 20px;
    margin-top: -89px; }
    .popular-slider .owl-nav button.owl-prev:hover {
      left: 20px; }
  .popular-slider .owl-nav button.owl-next {
    right: 20px;
    margin-top: -89px; }
    .popular-slider .owl-nav button.owl-next:hover {
      right: 20px; }
  .text-section {
    margin-top: 50px; }
    .text-section::after {
      display: none; }
    .text-section .title .large {
      font-size: 30px; }
  .client-row {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }
    .client-row .client-item {
      margin-bottom: 40px;
      margin-right: 10px;
      margin-left: 10px; }
  .client::after {
    height: 100%; }
  .awards {
    padding-bottom: 40px; }
  .candy-bg {
    opacity: 0; }
  .last-news-item {
    margin-bottom: 30px; }
  .last-news .submit-block {
    margin-top: 0; }
    .last-news .submit-block::after {
      display: none; }
    .last-news .submit-block::before {
      display: none; }
  .order-info {
    margin-top: 30px;
    padding-top: 20px;
    padding-bottom: 20px; }
    .order-info::after {
      top: 0; }
    .order-info .text-block {
      -webkit-column-count: 1;
         -moz-column-count: 1;
              column-count: 1; }
  .footer {
    padding-top: 40px; }
    .footer .footer-copyright .copy-row {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center; }
      .footer .footer-copyright .copy-row .company-name {
        margin-bottom: 20px;
        margin-right: 0;
        margin-left: 0; }
    .footer-text {
      text-align: center; }
    .footer .payment-title {
      text-align: center; }
    .footer .payment-methods {
      -webkit-flex-wrap: wrap;
          -ms-flex-wrap: wrap;
              flex-wrap: wrap;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center; }
    .footer .payment-method {
      margin: 20px; }
    .footer .footer-soc-media-wrapper {
      margin-bottom: 40px; }
    .footer-soc-title {
      text-align: center;
      margin-bottom: 20px; }
    .footer-contact-item {
      text-align: center;
      padding: 0;
      padding-left: 60px;
      padding-right: 60px;
      margin-bottom: 20px;
      margin-top: 20px; }
    .footer .soc-media-row {
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      margin-bottom: 20px; }
      .footer .soc-media-row .soc:last-child {
        margin-right: 0; }
    .footer-callback {
      text-align: center;
      padding-top: 0;
      padding-bottom: 30px; }
    .footer-nav {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      padding-bottom: 0; }
      .footer-nav-item {
        margin-bottom: 20px;
        margin-right: 0;
        margin-left: 0;
        width: 50%; }
      .footer-nav-title {
        font-size: 11px;
        line-height: normal;
        text-align: center; }
      .footer-nav-col li {
        text-align: center; }
        .footer-nav-col li a {
          font-size: 9px;
          line-height: normal; }
  .header-mobile {
    background: url("../img/header-texture_white.png") white;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    opacity: 0;
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
    -webkit-transition: 0.45s all ease-in-out;
    -o-transition: 0.45s all ease-in-out;
    transition: 0.45s all ease-in-out;
    -webkit-transform-origin: 50% 5%;
        -ms-transform-origin: 50% 5%;
            transform-origin: 50% 5%;
    padding-top: 30px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
    .header-mobile.opened {
      opacity: 1;
      -webkit-transform: scale(1);
          -ms-transform: scale(1);
              transform: scale(1);
      -webkit-transition: 0.45s all ease-in-out;
      -o-transition: 0.45s all ease-in-out;
      transition: 0.45s all ease-in-out; }
    .header-mobile .main-menu {
      width: 50%;
      display: block;
      margin-left: auto;
      margin-right: auto;
      text-align: center;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center; }
      .header-mobile .main-menu li {
        margin-bottom: 10px;
        position: relative; }
        .header-mobile .main-menu li:hover::after {
          -webkit-transform: scale(1) translateX(0px);
              -ms-transform: scale(1) translateX(0px);
                  transform: scale(1) translateX(0px);
          opacity: 1;
          -webkit-transition: 0.35s all ease-in-out;
          -o-transition: 0.35s all ease-in-out;
          transition: 0.35s all ease-in-out; }
        .header-mobile .main-menu li:hover::before {
          -webkit-transform: rotate(180deg) scale(1) translateX(0px);
              -ms-transform: rotate(180deg) scale(1) translateX(0px);
                  transform: rotate(180deg) scale(1) translateX(0px);
          opacity: 1;
          -webkit-transition: 0.35s all ease-in-out;
          -o-transition: 0.35s all ease-in-out;
          transition: 0.35s all ease-in-out; }
        .header-mobile .main-menu li.active::after {
          -webkit-transform: scale(1) translateX(0px);
              -ms-transform: scale(1) translateX(0px);
                  transform: scale(1) translateX(0px);
          opacity: 1;
          -webkit-transition: 0.35s all ease-in-out;
          -o-transition: 0.35s all ease-in-out;
          transition: 0.35s all ease-in-out; }
        .header-mobile .main-menu li.active::before {
          -webkit-transform: rotate(180deg) scale(1) translateX(0px);
              -ms-transform: rotate(180deg) scale(1) translateX(0px);
                  transform: rotate(180deg) scale(1) translateX(0px);
          opacity: 1;
          -webkit-transition: 0.35s all ease-in-out;
          -o-transition: 0.35s all ease-in-out;
          transition: 0.35s all ease-in-out; }
        .header-mobile .main-menu li::after {
          content: "";
          display: block;
          position: absolute;
          left: -20px;
          top: 50%;
          margin-top: -5px;
          height: 12px;
          width: 12px;
          background: url("../img/menu-hover-icon.png") no-repeat;
          -webkit-transform: scale(0) translateX(-10px);
              -ms-transform: scale(0) translateX(-10px);
                  transform: scale(0) translateX(-10px);
          opacity: 0;
          -webkit-transition: 0.35s all ease-in-out;
          -o-transition: 0.35s all ease-in-out;
          transition: 0.35s all ease-in-out; }
        .header-mobile .main-menu li::before {
          content: "";
          display: block;
          position: absolute;
          right: -20px;
          top: 50%;
          margin-top: -5px;
          height: 12px;
          width: 12px;
          background: url("../img/menu-hover-icon.png") no-repeat;
          -webkit-transform: rotate(180deg) scale(0) translateX(-10px);
              -ms-transform: rotate(180deg) scale(0) translateX(-10px);
                  transform: rotate(180deg) scale(0) translateX(-10px);
          opacity: 0;
          -webkit-transition: 0.35s all ease-in-out;
          -o-transition: 0.35s all ease-in-out;
          transition: 0.35s all ease-in-out; }
        .header-mobile .main-menu li a {
          font-size: 16px;
          font-weight: bold;
          text-transform: uppercase;
          color: black; }
          .header-mobile .main-menu li a:hover {
            text-decoration: none; }
  .top-main-header_wrapper {
    margin-top: 30px;
    margin-bottom: 30px;
    padding-left: 20px;
    padding-right: 20px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
    .top-main-header_wrapper .cart-block {
      margin-top: 20px;
      margin-left: 5px; }
      .top-main-header_wrapper .cart-block .cart-link {
        text-transform: uppercase;
        color: #a7a9ac;
        letter-spacing: 0.1em;
        font-weight: 300;
        font-size: 12px;
        height: 100%;
        display: block;
        padding-top: 5px;
        padding-bottom: 5px;
        background: url("../img/icon-cart.png") right center no-repeat;
        padding-right: 30px; }
    .top-main-header_wrapper .search-form {
      width: 150px;
      position: relative; }
      .top-main-header_wrapper .search-form .input-search {
        background: white;
        border: 1px solid #d9d9d9;
        -webkit-border-radius: 20px;
                border-radius: 20px;
        font-weight: 300;
        color: #73767a;
        padding: 4px 20px;
        font-size: 14px;
        width: 100%;
        -webkit-box-sizing: border-box;
                box-sizing: border-box; }
      .top-main-header_wrapper .search-form .search-submit {
        height: 30px;
        width: 32px;
        background: url("../img/icon-search.png") center no-repeat;
        position: absolute;
        right: 1px;
        top: -1px;
        border: none; }
  .top-mobile {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 20px; }
    .top-mobile .user-links {
      font-weight: 300;
      color: black;
      font-size: 12px;
      text-transform: uppercase;
      text-align: center;
      display: block;
      padding-right: 35px;
      padding-left: 35px;
      padding-top: 8px;
      padding-bottom: 7px;
      margin-bottom: 10px; }
      .top-mobile .user-links.register {
        background: url("../img/icon-reg.png") left center no-repeat; }
      .top-mobile .user-links.authorize {
        background: url("../img/icon-auth.png") left center no-repeat; }
  .open-menu-wrap {
    height: 20px;
    position: absolute;
    top: 50%;
    margin-top: -10px;
    left: 20%;
    width: 30px;
    z-index: 200; }
    .open-menu-wrap.active .button-mobile {
      background-position: -30px 0px;
      -webkit-transition: 0.45s all ease-in-out;
      -o-transition: 0.45s all ease-in-out;
      transition: 0.45s all ease-in-out;
      -webkit-transform: rotate(45deg) translateX(100px) translateY(-120px);
          -ms-transform: rotate(45deg) translateX(100px) translateY(-120px);
              transform: rotate(45deg) translateX(100px) translateY(-120px); }
      .open-menu-wrap.active .button-mobile::after {
        -webkit-transform: scale(0);
            -ms-transform: scale(0);
                transform: scale(0);
        background-position: -30px 0;
        -webkit-transition: 0.45s all ease-in-out;
        -o-transition: 0.45s all ease-in-out;
        transition: 0.45s all ease-in-out; }
      .open-menu-wrap.active .button-mobile::before {
        -webkit-transform: rotate(90deg) translateX(15.2px) translateY(0px);
            -ms-transform: rotate(90deg) translateX(15.2px) translateY(0px);
                transform: rotate(90deg) translateX(15.2px) translateY(0px);
        background-position: -30px 0;
        -webkit-transition: 0.45s all ease-in-out;
        -o-transition: 0.45s all ease-in-out;
        transition: 0.45s all ease-in-out; }
  .button-mobile {
    height: 4px;
    width: 30px;
    -webkit-border-radius: 20px;
            border-radius: 20px;
    background: -webkit-gradient(linear, left top, right top, from(#986c35), color-stop(50%, #e4cc72), to(#986c35));
    background: -webkit-linear-gradient(left, #986c35 0%, #e4cc72 50%, #986c35 100%);
    background: -o-linear-gradient(left, #986c35 0%, #e4cc72 50%, #986c35 100%);
    background: linear-gradient(90deg, #986c35 0%, #e4cc72 50%, #986c35 100%);
    display: block;
    position: absolute;
    top: 16px;
    left: 0;
    -webkit-transition: 0.45s all ease-in-out;
    -o-transition: 0.45s all ease-in-out;
    transition: 0.45s all ease-in-out;
    border: none; }
    .button-mobile::after {
      content: "";
      display: block;
      height: 4px;
      width: 30px;
      position: absolute;
      top: -8px;
      left: 0;
      -webkit-border-radius: 20px;
              border-radius: 20px;
      background: -webkit-gradient(linear, left top, right top, from(#986c35), color-stop(50%, #e4cc72), to(#986c35));
      background: -webkit-linear-gradient(left, #986c35 0%, #e4cc72 50%, #986c35 100%);
      background: -o-linear-gradient(left, #986c35 0%, #e4cc72 50%, #986c35 100%);
      background: linear-gradient(90deg, #986c35 0%, #e4cc72 50%, #986c35 100%);
      -webkit-transition: 0.45s all ease-in-out;
      -o-transition: 0.45s all ease-in-out;
      transition: 0.45s all ease-in-out; }
    .button-mobile::before {
      content: "";
      display: block;
      height: 4px;
      width: 30px;
      position: absolute;
      top: -16px;
      left: 0;
      -webkit-border-radius: 20px;
              border-radius: 20px;
      background: -webkit-gradient(linear, left top, right top, from(#986c35), color-stop(50%, #e4cc72), to(#986c35));
      background: -webkit-linear-gradient(left, #986c35 0%, #e4cc72 50%, #986c35 100%);
      background: -o-linear-gradient(left, #986c35 0%, #e4cc72 50%, #986c35 100%);
      background: linear-gradient(90deg, #986c35 0%, #e4cc72 50%, #986c35 100%);
      -webkit-transition: 0.45s all ease-in-out;
      -o-transition: 0.45s all ease-in-out;
      transition: 0.45s all ease-in-out; }
  .newsitem, .info-delivery {
    margin-top: 20px; }
    .newsitem .aside-menu-list, .info-delivery .aside-menu-list {
      margin-top: 0px;
      margin-bottom: 40px; }
  .newsitem .text-two-columns {
    -webkit-column-count: 1;
       -moz-column-count: 1;
            column-count: 1; }
  .newsitem-share-block {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .newsitem .share-links .soc {
    margin-top: 15px; }
    .newsitem .share-links .soc:last-child {
      margin-right: 0; }
  .subscribe-title {
    font-size: 28px;
    line-height: normal; }
  .subscribe-subtitle {
    font-size: 18px;
    line-height: 30px; }
  .subscribe-desc {
    font-size: 18px; }
    .subscribe-desc br {
      display: none; }
  .subscribe-text {
    font-size: 16px; }
  .subscribe-block .policy-href {
    position: relative;
    top: 0;
    left: 0;
    margin-top: 20px; }
  .subscribe-block .btn-accent {
    margin-left: auto;
    margin-right: auto; }
  .breadcumbs .breadcumbs-list {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; }
    .breadcumbs .breadcumbs-list li {
      margin-right: 15px; }
      .breadcumbs .breadcumbs-list li::after {
        right: -10px; }
      .breadcumbs .breadcumbs-list li a {
        font-size: 11px; }
  .catalog .title-page {
    display: none; }
  .catalog .center-nav-row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; }
    .catalog .center-nav-row > div {
      margin-bottom: 20px; }
  .catalog-item .img-block {
    margin-left: auto;
    margin-right: auto; }
  .catalog .text-two-columns {
    -webkit-column-count: 1;
       -moz-column-count: 1;
            column-count: 1; }
  .product-main-info .product-slider .owl-nav button.owl-prev {
    left: 0; }
  .product-main-info .product-slider .owl-nav button.owl-next {
    right: 0; }
  .product-main-info .product-slider_bottom {
    margin-bottom: 30px; }
  .product-main-info .product-buttons .btn-accent {
    margin-bottom: 20px; }
  .product-main-info {
    overflow: hidden;
    margin-bottom: 20px; }
  .product-consist {
    padding-top: 0; }
  .order-params .desc {
    margin-bottom: 30px; }
  .special-offer .offer-text {
    font-size: 20px;
    line-height: 25px; }
    .special-offer .offer-text br {
      display: none; }
  .special-offer {
    padding-top: 27px;
    padding-bottom: 27px; }
  .contacts {
    margin-top: 0;
    padding-bottom: 40px; }
    .contacts::after {
      height: 100%; }
  .contacts-item .icon-block {
    height: 100px;
    margin-bottom: 0;
    margin-top: 20px; }
  .contact-us .bottom-form::after {
    display: none; }
  .contact-us .bottom-form::before {
    display: none; }
  .team .team-list .team-member-item {
    padding-left: 0; }
    .team .team-list .team-member-item:last-child {
      margin-bottom: 0;
      padding-bottom: 0; }
  .team .team-list .team-member-item .img-block {
    position: relative;
    top: 0;
    left: 0; }
  .team .team-list .team-member-item {
    text-align: center; }
    .team .team-list .team-member-item .img-block {
      margin-left: auto;
      margin-right: auto; }
  .job {
    margin-top: 0;
    -webkit-background-size: cover;
            background-size: cover; }
  .team .aside-menu {
    margin-top: 0; }
    .team .aside-menu .aside-menu-list {
      margin-top: 10px; }
  .company-inside .aside-menu {
    margin-top: 30px; }
  .company-inside .aside-menu-list {
    margin-top: 0; }
  .company-inside .text-two-columns {
    -webkit-column-count: 1;
       -moz-column-count: 1;
            column-count: 1; }
  .company-inside .office-block .office-item {
    margin-bottom: 30px; }
  .company-inside .company-advantages .title-with-sub {
    margin-top: 0;
    padding-top: 30px;
    margin-bottom: 20px; }
  .geo {
    overflow: hidden; }
    .geo-map {
      overflow-x: scroll; }
  .info-delivery .h2 {
    margin-top: 30px; }
  .info-delivery .aside-menu {
    margin-top: 20px; }
  .geo-text {
    text-align: center;
    padding-left: 0; }
  .geo-text-title {
    padding-left: 0;
    text-align: center;
    margin-top: 30px; }
  .geo-form {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; }
    .geo-form > div {
      margin-bottom: 20px;
      margin-top: 20px; }
  .info-user-block {
    text-align: center; }
  .cabinet .recents-table .trow li {
    font-size: 11px; }
  .cabinet .recents-table .thead li {
    font-size: 12px;
    line-height: normal; }
  .recents-table {
    margin-top: 40px; } }

@media (min-width: 0) and (max-width: 360px) {
  .open-menu-wrap {
    left: 10%; }
  .header .top-header .header-title {
    font-size: 13px; } }

@media (min-width: 450px) and (max-width: 900px) {
  .header .top-header .header-title {
    line-height: 37px; }
  .achieve-item {
    margin-bottom: 0px; }
  .newslist-items .row .col-md-4 {
    width: 49%;
    display: inline-block; }
  .product-main-info .product-slider {
    max-width: 450px; }
  .product-main-info .product-buttons .btn-accent {
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    display: block; }
  .special-offer::before {
    bottom: -21px; }
  .contact-us {
    padding-top: 20px; }
    .contact-us::after {
      top: 0; }
  .newsitem-share-block {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .consult .img-wrap {
    margin-left: auto;
    margin-right: auto;
    text-align: center; }
  .consult-form {
    max-width: 400px;
    margin-left: auto;
    margin-right: auto; } }

@media (min-width: 768px) and (max-width: 992px) {
  .footer-nav {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start; }
    .footer-nav-title {
      text-align: left; }
    .footer-nav-col li {
      text-align: left; }
  .footer .soc-media-row {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start; }
  .footer-soc-title {
    text-align: left; }
  .footer-contact-item {
    text-align: left; }
    .footer-contact-item::after {
      left: 0; }
  .newslist {
    margin-top: 20px; }
    .newslist .last-news-item {
      width: 300px;
      height: 300px;
      padding: 20px;
      padding-top: 168px; }
      .newslist .last-news-item:hover img {
        -webkit-transform: scale(1.3);
            -ms-transform: scale(1.3);
                transform: scale(1.3);
        -webkit-transition: 0.35s all ease-in-out;
        -o-transition: 0.35s all ease-in-out;
        transition: 0.35s all ease-in-out; }
      .newslist .last-news-item:hover::after {
        height: 120%;
        opacity: .9;
        -webkit-transition: 0.35s all ease-in-out;
        -o-transition: 0.35s all ease-in-out;
        transition: 0.35s all ease-in-out; }
      .newslist .last-news-item::after {
        content: "";
        display: block;
        position: absolute;
        -webkit-transition: 0.35s all ease-in-out;
        -o-transition: 0.35s all ease-in-out;
        transition: 0.35s all ease-in-out;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: -webkit-gradient(linear, left top, left bottom, from(rgba(51, 42, 43, 0.5)), color-stop(60%, #332a2b), to(#332a2b));
        background: -webkit-linear-gradient(top, rgba(51, 42, 43, 0.5) 0%, #332a2b 60%, #332a2b 100%);
        background: -o-linear-gradient(top, rgba(51, 42, 43, 0.5) 0%, #332a2b 60%, #332a2b 100%);
        background: linear-gradient(180deg, rgba(51, 42, 43, 0.5) 0%, #332a2b 60%, #332a2b 100%); }
      .newslist .last-news-item img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        -webkit-transition: 0.35s all ease-in-out;
        -o-transition: 0.35s all ease-in-out;
        transition: 0.35s all ease-in-out; }
    .newslist .last-news-title {
      position: absolute;
      left: 20px;
      bottom: 152px;
      width: 100%;
      color: #ffffff;
      font-size: 24px;
      font-weight: 500;
      line-height: 28px;
      z-index: 10;
      width: 260px; }
    .newslist .last-news-desc {
      color: #ffffff;
      font-size: 16px;
      font-weight: 300;
      line-height: 20px;
      z-index: 10;
      position: relative; }
    .newslist .aside-menu-list {
      margin-top: 0px;
      margin-bottom: 40px; }
  .newsitem {
    margin-top: 20px; }
    .newsitem > .container > .row {
      display: block; }
    .newsitem .aside-menu-list {
      width: 100%; }
  .catalog .title-page {
    display: none; }
  .catalog .center-nav-row {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row; }
    .catalog .center-nav-row > div {
      margin-bottom: 0px; }
  .catalog .aside-menu .aside-menu-list {
    margin-top: 100px;
    width: 100%; }
  .order-params .desc br {
    display: none; }
  .special-offer {
    padding-top: 60px; }
    .special-offer::before {
      bottom: 90px; }
  .contacts-text {
    height: 50px; }
  .company-inside .aside-menu-list {
    width: 100%;
    margin-top: 100px; }
  .company-inside .office-block .office-item {
    width: 170px;
    height: 170px; }
    .company-inside .office-block .office-item::after {
      width: 95.23%;
      height: 95.23%;
      top: 2.3%;
      left: 2.3%; }
  .subscribe {
    text-align: center; }
    .subscribe-form {
      width: 300px;
      margin-left: auto;
      margin-right: auto; }
    .subscribe .candy-button {
      margin-top: 20px; } }

@media (min-width: 992px) and (max-width: 1200px) {
  .text-section::after {
    right: 0; }
  .candy-bg {
    display: none; }
  .subscribe-block .btn-accent {
    width: 100%;
    margin-left: 0; }
    .subscribe-block .btn-accent::after {
      width: 100%;
      left: 0; }
    .subscribe-block .btn-accent::before {
      width: 100%;
      left: 0; }
  .job {
    margin-top: 0;
    -webkit-background-size: cover;
            background-size: cover; }
  .special-offer {
    padding-top: 76px; }
    .special-offer::before {
      bottom: 75px; } }

@media (min-width: 768px) and (max-width: 800px) {
  .special-offer {
    padding-bottom: 72px; }
    .special-offer::before {
      bottom: 15px; }
    .special-offer::after {
      top: 2px; } }

@media (min-width: 801px) and (max-width: 850px) {
  .special-offer {
    padding-bottom: 72px; }
    .special-offer::before {
      bottom: 11px; }
    .special-offer::after {
      top: 2px; } }
