@media (min-width: 0) and (max-width: 1250px) {
  .page-wrapper {
    display: block; }
  .header .menu-button.active .menu-button-line:nth-child(1) {
    -webkit-animation: 0.4s menu-button-1 ease-in-out;
            animation: 0.4s menu-button-1 ease-in-out;
    -webkit-transform: scaleY(1) translateY(7px) rotate(-45deg);
        -ms-transform: scaleY(1) translateY(7px) rotate(-45deg);
            transform: scaleY(1) translateY(7px) rotate(-45deg); }
  .header .menu-button.active .menu-button-line:nth-child(2) {
    opacity: 0;
    -webkit-transition: 0.4s all ease-in-out;
    -o-transition: 0.4s all ease-in-out;
    transition: 0.4s all ease-in-out; }
  .header .menu-button.active .menu-button-line:nth-child(3) {
    -webkit-animation: 0.4s menu-button-3 ease-in-out;
            animation: 0.4s menu-button-3 ease-in-out;
    -webkit-transform: scaleY(1) translateY(-7px) rotate(45deg);
        -ms-transform: scaleY(1) translateY(-7px) rotate(45deg);
            transform: scaleY(1) translateY(-7px) rotate(45deg); }
  .header .logo {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-align-self: center;
        -ms-flex-item-align: center;
            align-self: center;
    position: relative;
    overflow: hidden;
    width: 45px;
    padding: 0;
    margin-left: 12px; }
    .header .logo img {
      position: absolute;
      top: 50%;
      margin-top: -21.5px;
      left: 0; }
  .header-major-info {
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
            justify-content: flex-end; }
    .header-major-info .currency {
      display: none; }
  .header-time {
    display: none;
    margin: 0; }
  .header-support {
    margin: 0; }
    .header-support-link.email {
      -webkit-box-ordinal-group: 2;
      -webkit-order: 1;
          -ms-flex-order: 1;
              order: 1; }
    .header-support-link.telegram {
      -webkit-box-ordinal-group: 3;
      -webkit-order: 2;
          -ms-flex-order: 2;
              order: 2; }
    .header-support-label {
      display: none; }
  .header-language-label {
    display: none; }
  .aside {
    position: absolute;
    top: 60px;
    left: 0;
    z-index: 99;
    -webkit-transform: translateX(-252px) scaleX(0);
        -ms-transform: translateX(-252px) scaleX(0);
            transform: translateX(-252px) scaleX(0);
    -webkit-transition: 0.4s all ease-in-out;
    -o-transition: 0.4s all ease-in-out;
    transition: 0.4s all ease-in-out; }
    .aside.opened {
      -webkit-transform: translateX(0px) scaleX(1);
          -ms-transform: translateX(0px) scaleX(1);
              transform: translateX(0px) scaleX(1);
      -webkit-transition: 0.4s all ease-in-out;
      -o-transition: 0.4s all ease-in-out;
      transition: 0.4s all ease-in-out; }
    .aside .currency {
      height: auto;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -webkit-flex-direction: row;
          -ms-flex-direction: row;
              flex-direction: row;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-flex-wrap: wrap;
          -ms-flex-wrap: wrap;
              flex-wrap: wrap;
      border-bottom: 1px solid #EAEAEA; }
      .aside .currency-main-label {
        height: 40px;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: start;
        -webkit-align-items: flex-start;
            -ms-flex-align: start;
                align-items: flex-start;
        padding-left: 15px;
        border-bottom: 1px solid #EAEAEA;
        font-size: 14px;
        margin-right: 0px;
        width: 100%; }
      .aside .currency-item {
        height: 50px;
        padding-top: 6px;
        padding-bottom: 6px;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-justify-content: space-around;
            -ms-flex-pack: distribute;
                justify-content: space-around;
        -webkit-box-align: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center;
        background: transparent;
        border-right: 1px solid #EAEAEA;
        min-width: 0;
        width: 33.3333%;
        margin-right: 0px; }
        .aside .currency-item:last-child {
          border-right: none; }
        .aside .currency-item-course {
          color: #33933E;
          font-size: 12px; }
    .aside .header-time {
      width: 100%;
      height: 50px;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -webkit-flex-direction: row;
          -ms-flex-direction: row;
              flex-direction: row;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      margin-right: 20px;
      border-bottom: 1px solid #EAEAEA; }
      .aside .header-time-label {
        width: 40%;
        font-size: 14px;
        margin-right: 0px;
        text-align: center; }
      .aside .header-time-value {
        width: 60%;
        height: inherit;
        background: transparent;
        border-left: 1px solid #EAEAEA;
        color: #33933E;
        font-size: 20px;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center;
        font-weight: normal;
        padding: 6px; }
  .content-wrapper {
    margin: 0;
    padding: 0;
    padding-bottom: 40px; }
    .content-wrapper .mini-stats {
      margin-top: 30px; }
      .content-wrapper .mini-stats-item {
        margin-bottom: 30px; }
        .content-wrapper .mini-stats-item.mini-deposit {
          height: auto; }
        .content-wrapper .mini-stats-item_graph {
          max-width: 350px; }
    .content-wrapper .main-info-block-tabs .single-tab {
      padding-right: 7px;
      padding-left: 7px;
      font-size: 14px; }
      .content-wrapper .main-info-block-tabs .single-tab:first-child {
        padding-left: 0;
        padding-right: 7px; }
  .main-info-block-transactions {
    margin-top: 40px;
    overflow: hidden; }
    .main-info-block-transactions .table-wrapper .table-block-classic-table {
      min-width: 530px; }
  .table-block .table-wrapper {
    margin-bottom: 20px; }
  .table-block-calc_input .calc_input-item {
    width: 47%; }
    .table-block-calc_input .calc_input-item .input-title {
      font-size: 18px; }
  .table-block-wallets .wallets-block {
    margin-top: 20px; }
  .table-block .result-invest-output {
    margin-top: 20px; }
  .table-block .result-invest-output .outputs-row .output {
    font-size: 15px; }
  .table-block-filter-item:nth-child(1) {
    width: 47%;
    margin: 0;
    margin-right: 0;
    margin-bottom: 10px; }
  .table-block-filter-item:nth-child(2) {
    width: 47%;
    margin: 0;
    margin-right: 0;
    margin-bottom: 10px; }
  .table-block-filter-item:nth-child(3) {
    width: 47%;
    margin: 0;
    margin-right: 0;
    margin-bottom: 10px; }
  .table-block-filter-item:nth-child(4) {
    width: 47%;
    margin: 0;
    margin-right: 0;
    margin-bottom: 10px; }
  .table-block-filter-item:nth-child(5) {
    width: 47%;
    margin: 0;
    margin-right: 0;
    margin-bottom: 10px; }
  .table-block-filter-item:nth-child(6) {
    width: 47%;
    margin: 0;
    margin-right: 0;
    margin-bottom: 10px; }
  .table-block-filter-submit {
    margin-top: 15px;
    margin-bottom: 15px; }
  .table-block-stages {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; }
    .table-block-stages li {
      width: 20%;
      margin-bottom: 10px; }
  .modal {
    max-width: 350px;
    width: 90%; }
    .modal-content {
      width: 100%; }
    .modal-field-address_link {
      overflow: hidden;
      padding-right: 5px; }
      .modal-field-address_link::before {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        width: 50px;
        height: 100%;
        background: -webkit-gradient(linear, left top, right top, from(transparent), color-stop(30%, white), to(white));
        background: -webkit-linear-gradient(left, transparent 0%, white 30%, white 100%);
        background: -o-linear-gradient(left, transparent 0%, white 30%, white 100%);
        background: linear-gradient(90deg, transparent 0%, white 30%, white 100%); }
    .modal-field-qr_code {
      min-width: 28px; }
    .modal-field-copylink {
      min-width: 28px; }
  .notify,
  .modal-over {
    width: 95%;
    max-width: 510px; }
    .notify-title,
    .modal-over-title {
      font-size: 26px; }
    .notify-info-list li,
    .modal-over-info-list li {
      font-size: 16px;
      line-height: normal; }
    .notify .modal-over-content,
    .modal-over .modal-over-content {
      width: 95%; }
    .notify .modal-over-title,
    .modal-over .modal-over-title {
      font-size: 23px; }
  .newslist-item {
    margin-top: 30px;
    margin-bottom: 0px; }
    .newslist-item-img-block {
      height: auto; }
      .newslist-item-img-block img {
        position: relative; }
    .newslist-item-title {
      font-size: 21px;
      line-height: 28px; }
  .newslist .pagination-wrapper {
    margin-top: 30px; }
  .newsitem {
    margin-top: 20px; }
    .newsitem-wrapper {
      padding: 0; }
    .newsitem-img-block {
      margin-bottom: 0px; }
    .newsitem-title {
      margin-top: 10px;
      margin-bottom: 10px;
      font-size: 19px;
      padding-left: 10px;
      padding-right: 10px; }
    .newsitem-date {
      font-size: 14px;
      margin-left: 10px; }
    .newsitem-text {
      padding: 10px; }
      .newsitem-text p {
        padding: 0;
        font-size: 14px;
        line-height: 20px; }
  .partners {
    margin-top: 20px; }
    .partners .main-info-block-title {
      margin-bottom: 20px;
      font-size: 21px; }
  .content-wrapper .main-info-block-tabs .single-tab {
    white-space: nowrap; }
  .partners .main-info-block .main-info-block-tabs .single-tab {
    font-size: 12px; }
  .partners .table-block-classic-table {
    min-width: 400px; }
    .partners .table-block-classic-table.table-block-classic-table-6-col {
      min-width: 500px; }
  .table-block-filter-type-2 .table-block-filter-item:nth-child(4) {
    width: 45%; }
  .livestats-simple-block.livestats-simple-block-wide-table .table-block-classic-table {
    min-width: 500px; }
  .livestats-simple-block.livestats-simple-block-small-table .table-wrapper {
    width: auto !important;
    overflow: hidden !important; }
  .livestats-simple-block.livestats-simple-block-small-table .table-block-classic-table {
    min-width: 0; }
    .livestats-simple-block.livestats-simple-block-small-table .table-block-classic-table.table-block-classic-table_type2 {
      min-width: 500px; }
    .livestats-simple-block.livestats-simple-block-small-table .table-block-classic-table .table-head li:nth-child(1) {
      width: 28.3333%; }
    .livestats-simple-block.livestats-simple-block-small-table .table-block-classic-table .table-head li:nth-child(2) {
      width: 33.3333%; }
    .livestats-simple-block.livestats-simple-block-small-table .table-block-classic-table .table-head li:nth-child(3) {
      width: 33.3333%; }
    .livestats-simple-block.livestats-simple-block-small-table .table-block-classic-table .table-row li:nth-child(1) {
      width: 28.3333%; }
    .livestats-simple-block.livestats-simple-block-small-table .table-block-classic-table .table-row li:nth-child(2) {
      width: 33.3333%; }
    .livestats-simple-block.livestats-simple-block-small-table .table-block-classic-table .table-row li:nth-child(3) {
      width: 33.3333%; }
  .livestats .table-block.table-block-only-table .table-block-classic-table.table-block-classic-3-col {
    min-width: 0; }
  .livestats .table-block.table-block-only-table .table-block-classic-table.table-block-classic-table_type2 {
    min-width: 500px; }
  .livestats .livestats-simple-block-last-reg {
    margin-bottom: 0; }
    .livestats .livestats-simple-block-last-reg .table-wrapper {
      width: auto !important;
      overflow-x: visible !important; }
    .livestats .livestats-simple-block-last-reg .table-head li:nth-child(1) {
      width: 28.3333%; }
    .livestats .livestats-simple-block-last-reg .table-head li:nth-child(2) {
      width: 33.3333%; }
    .livestats .livestats-simple-block-last-reg .table-head li:nth-child(3) {
      width: 33.3333%; }
    .livestats .livestats-simple-block-last-reg .table-row li:nth-child(1) {
      width: 28.3333%; }
    .livestats .livestats-simple-block-last-reg .table-row li:nth-child(2) {
      width: 33.3333%; }
    .livestats .livestats-simple-block-last-reg .table-row li:nth-child(3) {
      width: 33.3333%; }
  .livestats .table-block-classic-table {
    min-width: 400px; }
    .livestats .table-block-classic-table.table-block-classic-table_type2 {
      min-width: 500px; }
    .livestats .table-block-classic-table.table-last-reg {
      min-width: 0;
      margin-bottom: 0; }
  .livestats .main-info-block-title {
    font-size: 22px;
    margin-top: 20px; }
  .reviews .main-info-block-title {
    font-size: 22px;
    margin-top: 30px; }
  .reviews-block {
    padding: 15px; }
  .reviews-input-icon {
    min-width: 40px; }
  .reviews-submit {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 20px; } }

@media (min-width: 0px) and (max-width: 767px) {
  .account-notification-title {
    font-size: 27px;
    margin-bottom: 30px;
    padding-bottom: 15px; }
  .account {
    height: auto; }
    .account-singin {
      height: 100vh; }
  .account-left .logo {
    left: 50%;
    margin-left: -82px; }
  .account-left {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100% !important;
    height: auto !important;
    padding: 20px;
    padding-top: 50px;
    padding-bottom: 50px; }
  .account-right {
    display: none; }
  .account-submit {
    padding-top: 10px;
    padding-bottom: 10px;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
    .account-submit .account-captcha {
      margin-bottom: 20px;
      width: 280px;
      margin-left: 10%;
      margin-right: 10%;
      -webkit-background-size: 100% 100%;
              background-size: 100%; }
  .account-header-title {
    margin-top: 50px; }
  .reviews .publication-addition-call-pic {
    display: none; }
  .settings-wrapper {
    padding: 20px 14px; }
  .settings .main-info-block-title {
    margin-top: 20px;
    font-size: 22px; }
  .settings-item:nth-child(3) {
    margin-bottom: 25px; }
  .settings-input-wallet-name {
    display: none; }
  .copylinks-main-link {
    padding-left: 0;
    padding-right: 0; }
  .cashback-bottom {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; }
    .cashback-bottom .cashback-tax, .cashback-bottom .cashback-submit {
      width: 100%;
      max-width: 200px;
      margin-top: 10px; }
  .rank-stats-item {
    top: -10px;
    bottom: auto; }
    .rank-stats-item-1 {
      left: 0; }
    .rank-stats-item-2 {
      left: 27%; }
    .rank-stats-item-3 {
      right: 27%; }
    .rank-stats-item-4 {
      right: 0; }
  .rank-stats-point {
    width: 16px;
    height: 16px;
    font-size: 10px;
    font-weight: normal; }
  .rank-stats-graph {
    padding-top: 60px; }
    .rank-stats-graph-arrow {
      top: auto;
      bottom: 8px;
      margin-left: 0px;
      height: 41.6666%;
      width: 30px;
      -webkit-background-size: auto 100%;
              background-size: auto 100%;
      -webkit-transform-origin: 50% 93%;
          -ms-transform-origin: 50% 93%;
              transform-origin: 50% 93%; }
  .chart-block .save-button {
    display: none; }
  .chart-block .levels-wrapper {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    padding-right: 15px; }
    .chart-block .levels-wrapper .chart-block-summary {
      margin: 0;
      margin-bottom: 20px;
      padding: 0; }
      .chart-block .levels-wrapper .chart-block-summary .legend-item {
        margin-bottom: 7px; }
  .chart-block .polar-chart-wrapper {
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
        -ms-flex-order: 2;
            order: 2;
    width: 100%;
    width: 260px;
    height: 260px;
    margin-left: auto;
    margin-right: auto; }
  .chart-block-wrapper {
    padding: 5px; }
  .chart-block-summary {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding-left: 10px;
    padding-bottom: 0;
    margin-bottom: 5px; }
    .chart-block-summary .legend-item {
      margin: 0;
      margin-top: 6px;
      margin-bottom: 6px;
      -webkit-box-align: baseline;
      -webkit-align-items: baseline;
          -ms-flex-align: baseline;
              align-items: baseline; }
      .chart-block-summary .legend-item-title {
        margin: 0;
        margin-right: 10px; }
    .chart-block-summary .save-button {
      display: none; } }

@media (min-width: 0px) and (max-width: 350px) {
  .table-block-filter-item:nth-child(1) {
    width: 100%;
    margin: 0;
    margin-right: 0;
    margin-bottom: 10px; }
  .table-block-filter-item:nth-child(2) {
    width: 100%;
    margin: 0;
    margin-right: 0;
    margin-bottom: 10px; }
  .table-block-filter-item:nth-child(3) {
    width: 100%;
    margin: 0;
    margin-right: 0;
    margin-bottom: 10px; }
  .table-block-filter-item:nth-child(4) {
    width: 100%;
    margin: 0;
    margin-right: 0;
    margin-bottom: 10px; }
  .table-block-filter-item:nth-child(5) {
    width: 100%;
    margin: 0;
    margin-right: 0;
    margin-bottom: 10px; }
  .table-block-filter-item:nth-child(6) {
    width: 100%;
    margin: 0;
    margin-right: 0;
    margin-bottom: 10px; }
  .settings-input-subbutton.telegram-button {
    width: 33px;
    background-position: center; }
  .settings-input-subbutton.skype-button {
    width: 33px;
    background-position: center; }
  .settings-input {
    font-size: 13px; } }

@media (min-width: 0px) and (max-width: 400px) {
  .settings-item-wallet .settings-input-subbutton.edit-button {
    -webkit-box-shadow: -10px 0px 6px 0px  white;
            box-shadow: -10px 0px 6px 0px  white;
    z-index: 2; }
  .settings-submit-wrap {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }
    .settings-submit-wrap .btn-logout {
      margin-bottom: 10px; }
    .settings-submit-wrap .yellow-btn {
      margin-right: 20px;
      margin-bottom: 10px; }
  .livestats-graph-block {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; }
  .livestats-graph-item {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 20px; }
    .livestats-graph-item.livestats-graph-weekly-graph {
      padding-left: 0;
      padding-right: 0; }
    .livestats-graph-item.livestats-graph-diagram {
      padding-left: 0;
      padding-right: 0;
      width: 100%;
      border: none; }
    .livestats-graph-item.livestats-graph-users-stats {
      padding-left: 0;
      padding-right: 0;
      width: 100%;
      border: none;
      margin-bottom: 0; }
  .livestats-graph-vertical-list .graph-line {
    padding-left: 16%;
    padding-right: 16%; }
  .rank-stats-item-1 {
    left: -10px; }
  .rank-stats-item-4 {
    right: -10px; }
  .rank-stats-item-2 {
    left: 24.5%; }
  .rank-stats-item-3 {
    right: 24.5%; }
  .rank-stats-item .rank-percentage {
    font-size: 11px; }
  .rank-stats-item .rating .star {
    width: 13px;
    height: 13px; }
  .rank-stats-value {
    font-size: 11px; }
    .rank-stats-value-1 {
      margin-left: -21.6666%; }
    .rank-stats-value-5 {
      margin-right: -21.6666%; } }

@media (min-width: 0px) and (max-width: 450px) {
  .settings-item-wallet .settings-input-subbutton.edit-button {
    -webkit-box-shadow: -10px 0px 6px 0px  white;
            box-shadow: -10px 0px 6px 0px  white;
    z-index: 2; }
  .livestats-graph-block {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    padding: 30px; }
  .livestats-graph-item {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 20px; }
    .livestats-graph-item.livestats-graph-weekly-graph {
      padding-left: 0;
      padding-right: 0; }
    .livestats-graph-item.livestats-graph-diagram {
      padding-left: 0;
      padding-right: 0;
      width: 100%;
      border: none; }
    .livestats-graph-item.livestats-graph-users-stats {
      padding-left: 0;
      padding-right: 0;
      width: 100%;
      border: none;
      margin-bottom: 0; }
  .livestats-graph-vertical-list .graph-line {
    padding-left: 26%;
    padding-right: 26%; }
  .page-wrapper {
    display: block; }
  .copylinks {
    padding: 14px; }
  .copylinks-banners {
    max-width: 100%;
    position: relative; }
  .copylinks-banner-wrap {
    max-width: 100%; }
  .copylinks-main-linkout {
    height: 30px;
    width: 30px; }
  .copylinks-main-link {
    height: 30px;
    padding-right: 7px;
    padding-left: 7px;
    font-size: 10px;
    padding-top: 0;
    padding-bottom: 0;
    line-height: 30px;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
            flex-grow: 1; }
  .copylinks-main-copy {
    height: 30px;
    width: 30px;
    font-size: 0;
    padding-top: 0;
    padding-bottom: 0;
    line-height: 0;
    padding-left: 0;
    background-position: center; }
  .copylinks-banner-size {
    font-size: 10px;
    padding: 0;
    padding-left: 5px;
    padding-right: 5px;
    height: 27px;
    text-align: center;
    line-height: 27px; }
  .copylinks-banners .copylinks-banner-link {
    font-size: 10px;
    padding: 0;
    line-height: 27px;
    padding-left: 7px;
    height: 27px;
    white-space: nowrap;
    overflow: hidden;
    position: relative; }
    .copylinks-banners .copylinks-banner-link::after {
      content: "";
      display: block;
      position: absolute;
      right: 0;
      top: 0;
      height: 100%;
      width: 20px;
      background: -webkit-gradient(linear, left top, right top, from(transparent), color-stop(50%, white), to(white));
      background: -webkit-linear-gradient(left, transparent 0%, white 50%, white 100%);
      background: -o-linear-gradient(left, transparent 0%, white 50%, white 100%);
      background: linear-gradient(90deg, transparent 0%, white 50%, white 100%); }
  .copylinks-banner-view {
    height: 27px;
    width: 27px;
    padding: 0;
    -webkit-background-size: 70% 70%;
            background-size: 70%; }
  .copylinks-banner-copy {
    height: 27px;
    width: 27px;
    padding: 0; }
  .copylinks-main-wrap {
    width: 100%;
    height: 30px; }
  .rank-stats-info-main .rank-label {
    white-space: nowrap;
    font-size: 12px;
    line-height: 26px;
    height: 28px;
    padding-top: 0;
    padding-bottom: 0; }
  .rank-stats-info-main .rank-money {
    line-height: 26px;
    height: 28px;
    font-size: 18px;
    padding-top: 0;
    padding-bottom: 0; }
  .rank-stats-info-main .rank-rate {
    height: 28px; }
  .rank-stats-info-main .rating .star {
    width: 16px;
    height: 16px; } }

@media (min-width: 450px) and (max-width: 575px) {
  .livestats-graph-block {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    padding: 30px; }
  .livestats-graph-item {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 20px; }
    .livestats-graph-item.livestats-graph-weekly-graph {
      padding-left: 0;
      padding-right: 0; }
    .livestats-graph-item.livestats-graph-diagram {
      padding-left: 0;
      padding-right: 0;
      width: 100%;
      border: none; }
    .livestats-graph-item.livestats-graph-users-stats {
      padding-left: 0;
      padding-right: 0;
      width: 100%;
      border: none;
      margin-bottom: 0; }
  .livestats-graph-vertical-list .graph-line {
    padding-left: 30%;
    padding-right: 30%; }
  .rank-stats-value {
    font-size: 12px; }
    .rank-stats-value-1 {
      margin-left: -21.6666%; }
    .rank-stats-value-5 {
      margin-right: -21.6666%; }
  .newslist-item {
    max-width: 420px;
    margin-left: auto;
    margin-right: auto; } }

@media (min-width: 450px) and (max-width: 767px) {
  .page-wrapper {
    display: block; }
  .chart-block-wrapper {
    padding: 5px; }
  .chart-block-summary {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    padding-left: 10px;
    padding-bottom: 0;
    margin-bottom: 5px;
    padding-top: 10px; }
    .chart-block-summary .legend-item {
      margin: 0;
      margin-right: 10px;
      -webkit-box-align: baseline;
      -webkit-align-items: baseline;
          -ms-flex-align: baseline;
              align-items: baseline; }
      .chart-block-summary .legend-item-title {
        margin: 0;
        margin-right: 10px; }
  .chart-block .polar-chart-wrapper {
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
        -ms-flex-order: 1;
            order: 1; }
  .chart-block .levels-wrapper .chart-block-summary {
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
        -ms-flex-order: 2;
            order: 2;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
  .rank-stats-value {
    font-size: 12px; }
    .rank-stats-value-1 {
      margin-left: -21.6666%; }
    .rank-stats-value-2 {
      top: 69%;
      left: 34%; }
    .rank-stats-value-3 {
      left: 50%;
      margin-left: -16px;
      top: 59%; }
    .rank-stats-value-4 {
      top: 69%;
      right: 34%; }
    .rank-stats-value-5 {
      margin-right: -21.6666%; }
  .rank-stats-point {
    width: 20px;
    height: 20px;
    font-size: 11px;
    font-weight: normal; }
  .newslist-item-title {
    font-size: 18px; }
  .copylinks {
    padding: 14px; }
  .copylinks-banners {
    max-width: 100%;
    position: relative; }
  .copylinks-banner-wrap {
    max-width: 100%; }
  .copylinks-main-linkout {
    height: 30px;
    width: 30px; }
  .copylinks-main-link {
    height: 30px;
    padding-right: 7px;
    padding-left: 7px;
    font-size: 10px;
    padding-top: 0;
    padding-bottom: 0;
    line-height: 30px;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
            flex-grow: 1; }
  .copylinks-main-copy {
    height: 30px;
    width: 30px;
    font-size: 0;
    padding-top: 0;
    padding-bottom: 0;
    line-height: 0;
    padding-left: 0;
    background-position: center; }
  .copylinks-banner-size {
    font-size: 10px;
    padding: 0;
    padding-left: 5px;
    padding-right: 5px;
    height: 27px;
    text-align: center;
    line-height: 27px; }
  .copylinks-banners .copylinks-banner-link {
    font-size: 10px;
    padding: 0;
    line-height: 27px;
    padding-left: 7px;
    height: 27px;
    white-space: nowrap;
    overflow: hidden;
    position: relative; }
    .copylinks-banners .copylinks-banner-link::after {
      content: "";
      display: block;
      position: absolute;
      right: 0;
      top: 0;
      height: 100%;
      width: 20px;
      background: -webkit-gradient(linear, left top, right top, from(transparent), color-stop(50%, white), to(white));
      background: -webkit-linear-gradient(left, transparent 0%, white 50%, white 100%);
      background: -o-linear-gradient(left, transparent 0%, white 50%, white 100%);
      background: linear-gradient(90deg, transparent 0%, white 50%, white 100%); } }

@media (min-width: 590px) and (max-width: 767px) {
  .settings-input-wallet-name {
    display: block; }
  .rank-stats-point {
    width: 22px;
    height: 22px;
    font-size: 11px;
    font-weight: bold; }
  .chart-block .levels-wrapper .chart-block-summary .legend-item {
    margin-bottom: 15px; }
    .chart-block .levels-wrapper .chart-block-summary .legend-item .legend-item-title {
      font-size: 14px; }
    .chart-block .levels-wrapper .chart-block-summary .legend-item .legend-item-value {
      font-size: 14px; } }

@media (min-width: 767px) and (max-width: 1024px) {
  .account {
    padding: 20px; }
    .account-singin {
      height: 100vh; }
      .account-singin .account-right {
        display: none; }
      .account-singin .account-left {
        -webkit-box-pack: center;
        -webkit-justify-content: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center;
        width: 100% !important;
        height: auto !important;
        padding: 20px;
        padding-top: 50px;
        padding-bottom: 50px; }
  .account-submit {
    padding-top: 10px;
    padding-bottom: 10px;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
    .account-submit .account-captcha {
      margin-bottom: 20px;
      width: 280px;
      margin-left: 10%;
      margin-right: 10%;
      -webkit-background-size: 100% 100%;
              background-size: 100%; }
  .account-header-title {
    margin-top: 50px; }
  .settings .main-info-block-title {
    margin-top: 30px;
    font-size: 22px; }
  .main-info-block-transactions {
    margin-top: 0; }
  .content-wrapper .main-info-block-tabs .single-tab {
    padding-right: 15px; }
  .newsitem-wrapper {
    padding: 10px; }
  .newsitem-title {
    font-size: 21px; }
  .newsitem-text {
    padding-top: 0; }
    .newsitem-text p {
      margin-top: 0; } }

@media (min-width: 767px) and (max-width: 992px) {
  .account {
    height: 100vh; }
  .account-left .logo {
    left: 50%;
    margin-left: -82px; }
  .account-left {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100% !important;
    height: auto !important;
    padding: 20px;
    padding-top: 50px;
    padding-bottom: 50px; }
  .account-right {
    display: none; }
  .account-submit {
    padding-top: 10px;
    padding-bottom: 10px;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
    .account-submit .account-captcha {
      margin-bottom: 20px;
      width: 280px;
      margin-left: 10%;
      margin-right: 10%;
      -webkit-background-size: 100% 100%;
              background-size: 100%; }
  .livestats-simple-block.livestats-simple-block-wide-table .table-wrapper {
    width: auto !important;
    overflow: visible !important; }
  .partners .table-wrapper {
    width: auto !important;
    overflow: visible !important; } }

@media (min-width: 992px) and (max-width: 1199px) {
  .account-notification-title {
    font-size: 27px;
    margin-bottom: 30px;
    padding-bottom: 15px; }
  .account {
    height: auto; }
    .account-singin {
      height: 100vh; }
  .account-left {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100% !important;
    height: auto !important;
    padding: 20px;
    padding-top: 80px;
    padding-bottom: 50px; }
  .account-right {
    display: none; }
  .account-submit {
    padding-top: 10px;
    padding-bottom: 10px;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
    .account-submit .account-captcha {
      margin-bottom: 20px;
      width: 280px;
      margin-left: 10%;
      margin-right: 10%;
      -webkit-background-size: 100% 100%;
              background-size: 100%; }
  .livestats-graph-weekly-graph {
    padding-left: 10px;
    padding-right: 10px;
    width: 34.5%; }
  .livestats-graph-item.livestats-graph-diagram {
    padding-right: 10px; }
  .livestats-graph-users-stats {
    padding-left: 10px; }
  .livestats-graph-block {
    padding: 14px;
    padding-top: 17.3px;
    padding-bottom: 17.3px; }
  .livestats .livestats-simple-block-small-table .main-info-block-title {
    position: relative;
    margin-bottom: 35px; }
    .livestats .livestats-simple-block-small-table .main-info-block-title .small-text {
      position: absolute;
      top: 100%;
      margin-top: 5px;
      left: 0;
      width: 100%; }
  .content-wrapper .mini-stats-item {
    margin-left: 50px;
    margin-right: 50px; }
  .content-wrapper .main-info-block-tabs .single-tab {
    padding-right: 15px;
    padding-left: 15px; }
    .content-wrapper .main-info-block-tabs .single-tab:first-child {
      padding-left: 0; }
  .main-info-block-transactions {
    margin-top: 0; }
  .newsitem-wrapper {
    padding: 20px; }
  .newsitem-img-block {
    margin-bottom: 20px; }
  .newsitem-title {
    font-size: 24px;
    margin-bottom: 0px;
    padding: 0; }
  .newsitem-text {
    margin-top: 10px;
    padding: 0; }
  .rank-stats-item-1 {
    bottom: auto;
    top: 27%; }
  .rank-stats-item-4 {
    bottom: auto;
    top: 27%; }
  .chart-block .levels-wrapper {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    .chart-block .levels-wrapper .chart-block-summary {
      margin-left: 0;
      -webkit-box-flex: 1;
      -webkit-flex-grow: 1;
          -ms-flex-positive: 1;
              flex-grow: 1;
      width: auto;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center; }
      .chart-block .levels-wrapper .chart-block-summary .legend-item {
        margin-bottom: 15px; }
    .chart-block .levels-wrapper .polar-chart-wrapper {
      min-width: 250px;
      width: 250px;
      height: 250px;
      margin-left: auto;
      margin-right: auto; } }

@media (min-width: 1250px) and (max-width: 1350px) {
  .header-time {
    margin-right: 10px; }
    .header-time-label {
      margin-right: 10px; }
  .header-major-info .currency-main-label {
    margin-right: 10px; }
  .header-major-info .currency-item {
    min-width: 85px;
    margin-right: 8px; }
  .header-support-label {
    margin-right: 10px; }
  .newslist-item-img-block {
    height: auto; }
    .newslist-item-img-block img {
      position: relative; }
  .newslist-item-title {
    font-size: 21px; }
  .newslist .pagination-wrapper {
    margin-top: 30px; }
  .table-block .result-invest-output .outputs-row .output {
    font-size: 17px; }
  .table-block-filter-item:nth-child(1) {
    width: 32%;
    margin: 0;
    margin-right: 0;
    margin-bottom: 10px; }
  .table-block-filter-item:nth-child(2) {
    width: 28%;
    margin: 0;
    margin-right: 0;
    margin-bottom: 10px; }
  .table-block-filter-item:nth-child(3) {
    width: 28%;
    margin: 0;
    margin-right: 0;
    margin-bottom: 10px; }
  .table-block-filter-item:nth-child(4) {
    width: 32%;
    margin: 0;
    margin-right: 0;
    margin-bottom: 10px; }
  .table-block-filter-item:nth-child(5) {
    width: 30%;
    margin: 0;
    margin-right: 0;
    margin-bottom: 10px; }
  .table-block-filter-item:nth-child(6) {
    width: 30%;
    margin: 0;
    margin-right: 0;
    margin-bottom: 10px; }
  .table-block .table-block-filter-type-2 .table-block-filter-item:nth-child(1) {
    width: 22%;
    margin: 0;
    margin-right: 0;
    margin-bottom: 10px; }
  .table-block .table-block-filter-type-2 .table-block-filter-item:nth-child(2) {
    width: 22%;
    margin: 0;
    margin-right: 0;
    margin-bottom: 10px; }
  .table-block .table-block-filter-type-2 .table-block-filter-item:nth-child(3) {
    width: 22%;
    margin: 0;
    margin-right: 0;
    margin-bottom: 10px; }
  .table-block .table-block-filter-type-2 .table-block-filter-item:nth-child(4) {
    width: 22%;
    margin: 0;
    margin-right: 0;
    margin-bottom: 10px; }
  .table-block .table-block-filter-type-2 .table-block-filter-item:nth-child(5) {
    width: 25%;
    margin: 0;
    margin-right: 20px;
    margin-bottom: 10px; }
  .table-block .table-block-filter-type-2 .table-block-filter-item:nth-child(6) {
    width: 25%;
    margin: 0;
    margin-right: 0;
    margin-bottom: 10px; }
  .main-info-block-transactions .table-block-classic-table .table-row li:nth-child(1) {
    width: 17%; }
  .main-info-block-transactions .table-block-classic-table .table-row li:nth-child(2) {
    width: 12%; }
  .main-info-block-transactions .table-block-classic-table .table-row li:nth-child(3) {
    width: 17%; }
  .main-info-block-transactions .table-block-classic-table .table-row li:nth-child(5) {
    width: 24%; }
  .main-info-block-transactions .table-block-classic-table .table-row.table-row-bottom {
    padding-right: 20px; }
    .main-info-block-transactions .table-block-classic-table .table-row.table-row-bottom li:nth-child(1) {
      width: auto; }
    .main-info-block-transactions .table-block-classic-table .table-row.table-row-bottom li:nth-child(2) {
      width: 100px; }
  .main-info-block-transactions .table-block-classic-table .table-head li:nth-child(1) {
    width: 17%; }
  .main-info-block-transactions .table-block-classic-table .table-head li:nth-child(2) {
    width: 12%; }
  .main-info-block-transactions .table-block-classic-table .table-head li:nth-child(3) {
    width: 17%; }
  .main-info-block-transactions .table-block-classic-table .table-head li:nth-child(5) {
    width: 24%; } }

@media (min-width: 992px) and (max-width: 1400px) {
  .settings .main-info-block-title {
    margin-top: 20px; }
  .livestats-simple-block.livestats-simple-block-wide-table .table-wrapper {
    width: auto !important;
    overflow: visible !important; }
  .partners #transaction-2 .table-wrapper, .partners #transaction-1 .table-wrapper {
    width: auto !important;
    overflow: visible !important; }
  .chart-block-summary .legend-item {
    margin-right: 20px;
    -webkit-box-align: baseline;
    -webkit-align-items: baseline;
        -ms-flex-align: baseline;
            align-items: baseline; }
    .chart-block-summary .legend-item-title {
      margin-right: 10px; }
  .livestats .livestats-simple-block-small-table .main-info-block-title {
    position: relative;
    margin-bottom: 35px; }
    .livestats .livestats-simple-block-small-table .main-info-block-title .small-text {
      position: absolute;
      top: 100%;
      margin-top: 5px;
      left: 0;
      width: 100%; }
  .table-block-filter-type-2 .table-block-filter-item:nth-child(1) {
    width: 22%;
    margin: 0;
    margin-right: 0;
    margin-bottom: 10px; }
  .table-block-filter-type-2 .table-block-filter-item:nth-child(2) {
    width: 22%;
    margin: 0;
    margin-right: 0;
    margin-bottom: 10px; }
  .table-block-filter-type-2 .table-block-filter-item:nth-child(3) {
    width: 22%;
    margin: 0;
    margin-right: 0;
    margin-bottom: 10px; }
  .table-block-filter-type-2 .table-block-filter-item:nth-child(4) {
    width: 22%;
    margin: 0;
    margin-right: 0;
    margin-bottom: 10px; }
  .table-block-filter-type-2 .table-block-filter-item:nth-child(5) {
    width: 22%;
    margin: 0;
    margin-right: 20px;
    margin-bottom: 10px; }
  .table-block-filter-type-2 .table-block-filter-item:nth-child(6) {
    width: 22%;
    margin: 0;
    margin-right: 0;
    margin-bottom: 10px; }
  .table-block-classic-table.table-block-classic-table-6-col .table-head {
    padding-left: 16px;
    padding-right: 16px; }
    .table-block-classic-table.table-block-classic-table-6-col .table-head li:nth-child(3) {
      width: 12%; }
    .table-block-classic-table.table-block-classic-table-6-col .table-head li:nth-child(4) {
      width: 15%; }
    .table-block-classic-table.table-block-classic-table-6-col .table-head li:nth-child(6) {
      width: 21%; }
  .table-block-classic-table.table-block-classic-table-6-col .table-row {
    padding-left: 16px;
    padding-right: 16px; }
    .table-block-classic-table.table-block-classic-table-6-col .table-row li:nth-child(3) {
      width: 12%; }
    .table-block-classic-table.table-block-classic-table-6-col .table-row li:nth-child(4) {
      width: 15%; }
    .table-block-classic-table.table-block-classic-table-6-col .table-row li:nth-child(6) {
      width: 21%; } }

@media (min-width: 1199px) and (max-width: 1249px) {
  .main-info-block.main-info-block-transactions {
    margin-top: 0; }
    .main-info-block.main-info-block-transactions .table-wrapper {
      overflow: visible !important;
      width: auto !important; } }

@media (min-width: 1250px) and (max-width: 1450px) {
  .settings-input {
    font-size: 11px; }
  .content-wrapper .mini-stats-item.mini-accrual {
    padding-left: 14px;
    padding-right: 10px; }
    .content-wrapper .mini-stats-item.mini-accrual .mini-stats-item__values {
      max-width: 50px; }
      .content-wrapper .mini-stats-item.mini-accrual .mini-stats-item__values .v_amount {
        font-size: 15px; }
    .content-wrapper .mini-stats-item.mini-accrual .values-item {
      margin-right: 0; }
  .content-wrapper .mini-stats-item.mini-deposit {
    padding-left: 14px;
    padding-right: 10px; }
    .content-wrapper .mini-stats-item.mini-deposit .mini-stats-item__values {
      max-width: 50px; }
      .content-wrapper .mini-stats-item.mini-deposit .mini-stats-item__values .v_amount {
        font-size: 15px; }
    .content-wrapper .mini-stats-item.mini-deposit .values-item {
      margin-right: 0; }
    .content-wrapper .mini-stats-item.mini-deposit .mini-stats-item_diagram {
      right: 5px; }
  .content-wrapper .mini-stats-item_graph .axis-x {
    margin-left: 5px; }
  .rank-stats-item-1 {
    left: -10px;
    bottom: 40%; }
  .rank-stats-item-4 {
    right: -10px;
    bottom: 40%; }
  .chart-block-summary .legend-item {
    margin-right: 20px;
    -webkit-box-align: baseline;
    -webkit-align-items: baseline;
        -ms-flex-align: baseline;
            align-items: baseline; }
    .chart-block-summary .legend-item-title {
      margin-right: 10px; }
  .chart-block .polar-chart-wrapper {
    width: 230px;
    height: 230px; }
  .chart-block-levels .levels-wrapper .chart-block-summary {
    width: 35%; }
  .table-block-stages {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; }
    .table-block-stages li {
      width: 20%;
      margin-bottom: 10px; }
  .table-block-filter-item:nth-child(1) {
    width: 32%;
    margin: 0;
    margin-right: 0;
    margin-bottom: 10px; }
  .table-block-filter-item:nth-child(2) {
    width: 28%;
    margin: 0;
    margin-right: 0;
    margin-bottom: 10px; }
  .table-block-filter-item:nth-child(3) {
    width: 28%;
    margin: 0;
    margin-right: 0;
    margin-bottom: 10px; }
  .table-block-filter-item:nth-child(4) {
    width: 32%;
    margin: 0;
    margin-right: 0;
    margin-bottom: 10px; }
  .table-block-filter-item:nth-child(5) {
    width: 30%;
    margin: 0;
    margin-right: 0;
    margin-bottom: 10px; }
  .table-block-filter-item:nth-child(6) {
    width: 30%;
    margin: 0;
    margin-right: 0;
    margin-bottom: 10px; }
  .livestats .table-block-classic-table.table-block-classic-table_type2 .table-row {
    padding-left: 15px;
    padding-right: 15px; }
    .livestats .table-block-classic-table.table-block-classic-table_type2 .table-row li:nth-child(1) {
      width: 16%; }
    .livestats .table-block-classic-table.table-block-classic-table_type2 .table-row li:nth-child(5) {
      width: 14%; }
  .livestats .table-block-classic-table.table-block-classic-table_type2 .table-head {
    padding-left: 15px;
    padding-right: 15px; }
    .livestats .table-block-classic-table.table-block-classic-table_type2 .table-head li:nth-child(1) {
      width: 16%; }
    .livestats .table-block-classic-table.table-block-classic-table_type2 .table-head li:nth-child(5) {
      width: 14%; }
  .livestats-graph-block {
    padding: 13px;
    padding-top: 18px;
    padding-bottom: 16.6px; }
    .livestats-graph-block .livestats-graph-item.livestats-graph-diagram {
      padding-right: 10px; }
    .livestats-graph-block .livestats-graph-weekly-graph {
      padding-right: 10px;
      padding-left: 10px; }
    .livestats-graph-block .livestats-graph-users-stats {
      padding-left: 10px; } }

@media (min-width: 1350px) and (max-width: 1450px) {
  .content-wrapper .mini-stats-item.mini-accrual {
    padding-left: 20px;
    padding-right: 20px; }
    .content-wrapper .mini-stats-item.mini-accrual .mini-stats-item__values {
      max-width: 50px; }
      .content-wrapper .mini-stats-item.mini-accrual .mini-stats-item__values .v_amount {
        font-size: 17px; }
    .content-wrapper .mini-stats-item.mini-accrual .values-item {
      margin-right: 0; }
  .content-wrapper .mini-stats-item.mini-deposit {
    padding-left: 20px;
    padding-right: 20px; }
    .content-wrapper .mini-stats-item.mini-deposit .mini-stats-item__values {
      max-width: 50px; }
      .content-wrapper .mini-stats-item.mini-deposit .mini-stats-item__values .v_amount {
        font-size: 17px; }
    .content-wrapper .mini-stats-item.mini-deposit .values-item {
      margin-right: 0; }
    .content-wrapper .mini-stats-item.mini-deposit .mini-stats-item_diagram {
      right: 15px; } }

@media (min-width: 1250px) {
  .aside-user-info {
    max-height: 227px; }
  .aside .dashboard-menu {
    max-height: 54.4px; } }
