$dark-brown: #332a2b
$light-grey: #a7a9ac
$input-border-grey: #d9d9d9
$super-light-grey: #dfe0e1
$grey-text: #939598
$brown-bold: #91190e
$pink-bg: #f9ebe5
$pink-border: #faeee9
$btn-brown: #480d0c
$accent: #f6e180

// DESCTOP ADAPT

@media (min-width: 1200px) and (max-width: 1600px)

	.special-offer
		padding-top: 118px
		padding-bottom: 114px

// MOBILE & PLANCHEt


@media (min-width: 992px)
	.header-mobile, .button-mobile 
		display: none 




@media (min-width: 0) and (max-width: 900px) 

	.container 
		padding-left: 15px
		padding-right: 15px


	.h2 
		font-size: 30px 
		letter-spacing: 3.5px 
		margin-top: 40px
		margin-bottom: 40px

		&::after 
			display: none 

		&::before 
			display: none 

	.btn-accent
		width: 300px

		&::after 
			width: 100%
			left: 0

		&::before 
			width: 100%
			left: 0

	.title-with-sub 
		font-size: 16px
		line-height: normal

		&::after 
			display: none 

		&::before 
			display: none 

		.large 
			font-size: 30px
			line-height: normal

	.header 
		min-height: 77px

		.top-header 
			text-align: right
			.register, .authorize 
				display: none !important

		.header-desc
			display: none 

		.main-header 
			
			.top-main-header, .main-header-nav
				display: none

			.logo-row 
				padding-top: 30px

				.logo 

					&::after 
						display: none 

					&::before 
						display: none 

		.top-header 
			min-height: 77px
			padding-top: 15px
			padding-bottom: 15px
			position: relative

			.header-title 
				font-size: 15px 

			.callback-block 
				padding: 0
				border: none 
				text-align: right

				.text-gradient 
					position: relative
					white-space: nowrap
					bottom: 0
					display: inline-block 
					width: auto
					font-size: 17px

				.phone-link 
					display: block
					white-space: nowrap 
					padding: 0
					border: none 
					font-size: 17px 

				&::after 
					display: none 

				&::before 
					display: none 

	.main-banner 

		.slider-title 
			font-size: 30px 
			line-height: 40px


		.banner-slider 

			.banner-item 
				padding-top: 0px

				.banner-text 
					margin-top: 0
					font-size: 16px 
					margin-bottom: 20px

				.banner-wrapper 
					border: none 
					padding-left: 0
					padding-right: 0

					&::after 
						display: none 

					&::before 
						display: none 

	.categories .cat-item
		margin-left: auto
		margin-right: auto

	.popular::after
		top: 116px

	.popular-slider .owl-nav button.owl-prev
		left: 20px
		margin-top: -89px

		&:hover 
			left: 20px

	.popular-slider .owl-nav button.owl-next
		right: 20px
		margin-top: -89px

		&:hover 
			right: 20px

	.text-section
		margin-top: 50px

		&::after
			display: none 

		.title 

			.large 
				font-size: 30px 

	.client-row
		flex-wrap: wrap
		justify-content: center

		.client-item 
			margin-bottom: 40px
			margin-right: 10px
			margin-left: 10px

	.client::after 
		height: 100%

	.awards
		padding-bottom: 40px

	.candy-bg
		opacity: 0

	.last-news-item
		margin-bottom: 30px

	.last-news .submit-block
		margin-top: 0

		&::after 
			display: none 

		&::before 
			display: none 
	
	.order-info 
		margin-top: 30px
		padding-top: 20px
		padding-bottom: 20px

		&::after 
			top: 0

		.text-block 
			column-count: 1
	
	.footer 
		padding-top: 40px

		.footer-copyright .copy-row
			flex-direction: column
			justify-content: center
			align-items: center

			.company-name
				margin-bottom: 20px
				margin-right: 0
				margin-left: 0

		&-text 
			text-align: center

		.payment-title 
			text-align: center

		.payment-methods
			flex-wrap: wrap
			justify-content: center

		.payment-method
			margin: 20px

		.footer-soc-media-wrapper
			margin-bottom: 40px

		&-soc-title 
			text-align: center
			margin-bottom: 20px

		&-contact-item 
			text-align: center
			padding: 0
			padding-left: 60px
			padding-right: 60px
			margin-bottom: 20px
			margin-top: 20px

		.soc-media-row 
			justify-content: center
			align-items: center
			margin-bottom: 20px

			.soc:last-child
				margin-right: 0

		&-callback 
			text-align: center
			padding-top: 0
			padding-bottom: 30px

		&-nav 
			flex-direction: column
			justify-content: center
			align-items: center
			padding-bottom: 0

			&-item 
				margin-bottom: 20px
				margin-right: 0
				margin-left: 0
				width: 50%

				// &:nth-child(2n) 

				// 	.footer-nav-title 
				// 		text-align: right

				// 	.footer-nav-col 
				// 		li 
				// 			text-align: right

			&-title 
				font-size: 11px
				line-height: normal
				text-align: center

			&-col 

				li 
					text-align: center
					a 
						font-size: 9px 
						line-height: normal

	// CLEAR MOBILE STYLES 

	.header-mobile 
		background: url('../img/header-texture_white.png') white 
		position: absolute
		top: 0
		left: 0
		width: 100%
		height: 100%
		z-index: 100
		opacity: 0
		transform: scale(0)
		transition: 0.45s all ease-in-out
		transform-origin: 50% 5%
		padding-top: 30px
		display: flex 
		flex-direction: column
		justify-content: center
		align-items: center

		&.opened 
			opacity: 1
			transform: scale(1)
			transition: 0.45s all ease-in-out

		.main-menu 
			width: 50%
			display: block
			margin-left: auto
			margin-right: auto
			text-align: center
			display: flex 
			flex-direction: column 
			justify-content: center 
			align-items: center 

			li 
				margin-bottom: 10px
				position: relative

				&:hover 
					&::after 
						transform: scale(1) translateX(0px)
						opacity: 1
						transition: 0.35s all ease-in-out
					&::before 
						transform: rotate(180deg) scale(1) translateX(0px)
						opacity: 1
						transition: 0.35s all ease-in-out

				&.active 
					&::after 
						transform: scale(1) translateX(0px)
						opacity: 1
						transition: 0.35s all ease-in-out
					&::before 
						transform: rotate(180deg) scale(1) translateX(0px)
						opacity: 1
						transition: 0.35s all ease-in-out

				&::after 
					content: "" 
					display: block
					position: absolute
					left: -20px
					top: 50% 
					margin-top: -5px
					height: 12px 
					width: 12px
					background: url('../img/menu-hover-icon.png') no-repeat
					transform: scale(0) translateX(-10px)
					opacity: 0
					transition: 0.35s all ease-in-out

				&::before 
					content: "" 
					display: block
					position: absolute
					right: -20px
					top: 50% 
					margin-top: -5px
					height: 12px 
					width: 12px
					background: url('../img/menu-hover-icon.png') no-repeat
					transform: rotate(180deg) scale(0) translateX(-10px)
					opacity: 0
					transition: 0.35s all ease-in-out

				a
					font-size: 16px 
					font-weight: bold
					text-transform: uppercase
					color: black 

					&:hover 
						text-decoration: none 

	.top-main-header_wrapper 
		margin-top: 30px
		margin-bottom: 30px
		padding-left: 20px
		padding-right: 20px
		display: flex 
		flex-direction: column
		justify-content: center 
		align-items: center

		.cart-block 
			margin-top: 20px 
			margin-left: 5px 
			.cart-link 
				text-transform: uppercase
				color: $light-grey
				letter-spacing: 0.1em 
				font-weight: 300
				font-size: 12px 
				height: 100%
				display: block
				padding-top: 5px
				padding-bottom: 5px
				background: url('../img/icon-cart.png') right center no-repeat
				padding-right: 30px

		.search-form 
			width: 150px
			position: relative


			.input-search 
				background: white 
				border: 1px solid $input-border-grey
				border-radius: 20px 
				font-weight: 300
				color: darken($light-grey, 20%) 
				padding: 4px 20px 
				font-size: 14px 
				width: 100%
				box-sizing: border-box 

			.search-submit 
				height: 30px
				width: 32px
				background: url('../img/icon-search.png') center no-repeat
				position: absolute
				right: 1px
				top: -1px
				border: none 

	.top-mobile 
		display: flex 
		flex-direction: column 
		justify-content: center
		align-items: center
		margin-bottom: 20px
		.user-links 
			font-weight: 300
			color: black 
			font-size: 12px 
			text-transform: uppercase
			text-align: center
			display: block 
			padding-right: 35px
			padding-left: 35px
			padding-top: 8px
			padding-bottom: 7px
			margin-bottom: 10px

			&.register 
				background: url('../img/icon-reg.png') left center no-repeat 

			&.authorize 
				background: url('../img/icon-auth.png') left center no-repeat

	.open-menu-wrap 
		height: 20px
		position: absolute
		top: 50%
		margin-top: -10px
		left: 20%
		width: 30px
		z-index: 200

		&.active 

			.button-mobile
				background-position: -30px 0px
				transition: 0.45s all ease-in-out
				transform: rotate(45deg) translateX(100px) translateY(-120px)

				&::after 
					transform: scale(0)
					background-position: -30px 0
					transition: 0.45s all ease-in-out

				&::before 
					transform: rotate(90deg) translateX(15.2px) translateY(0px)
					background-position: -30px 0
					transition: 0.45s all ease-in-out



	.button-mobile 
		height: 4px
		width: 30px
		border-radius: 20px 
		background: linear-gradient(90deg, #986c35 0%, #e4cc72 50%, #986c35 100%)
		display: block 
		position: absolute 
		top: 16px
		left: 0
		transition: 0.45s all ease-in-out
		border: none 


		&::after 
			content: ""
			display: block 
			height: 4px
			width: 30px
			position: absolute
			top: -8px
			left: 0
			border-radius: 20px 
			background: linear-gradient(90deg, #986c35 0%, #e4cc72 50%, #986c35 100%)
			transition: 0.45s all ease-in-out
		&::before
			content: ""
			display: block 
			height: 4px
			width: 30px
			position: absolute
			top: -16px
			left: 0
			border-radius: 20px 
			background: linear-gradient(90deg, #986c35 0%, #e4cc72 50%, #986c35 100%)
			transition: 0.45s all ease-in-out
	
	// NEWSLIST PAGE
	.newsitem, .info-delivery    
		margin-top: 20px

		// & > .container > .row 
		// 	display: flex 
		// 	flex-direction: column

		// 	& > .col-md-3 
		// 		order: 2

		.aside-menu-list
			margin-top: 0px
			margin-bottom: 40px

	// NEWSITEM 

	.newsitem .text-two-columns
		column-count: 1

	.newsitem-share-block
		flex-wrap: wrap 
		justify-content: center
	.newsitem .share-links .soc
		margin-top: 15px
		&:last-child
			margin-right: 0
	.subscribe-title
		font-size: 28px 
		line-height: normal
	.subscribe-subtitle
		font-size: 18px 
		line-height: 30px
	.subscribe-desc
		font-size: 18px 
		br 
			display: none 
	.subscribe-text
		font-size: 16px 
	.subscribe-block .policy-href
		position: relative
		top: 0
		left: 0
		margin-top: 20px
	.subscribe-block .btn-accent
		margin-left: auto
		margin-right: auto


	// CATALOG PAGE 

	.breadcumbs .breadcumbs-list 
		flex-wrap: wrap
		li
			margin-right: 15px

			&::after 
				right: -10px

			a
				font-size: 11px 

	.catalog

		.title-page 
			display: none 

		.center-nav-row
			flex-direction: column 

			& > div 
				margin-bottom: 20px

		&-item 

			.img-block 
				margin-left: auto
				margin-right: auto

		.text-two-columns
			column-count: 1

	// PRODUCT PAGE 

	.product-main-info .product-slider .owl-nav button.owl-prev
		left: 0
	.product-main-info .product-slider .owl-nav button.owl-next 
		right: 0
	.product-main-info .product-slider_bottom
		margin-bottom: 30px
	.product-main-info .product-buttons .btn-accent
		margin-bottom: 20px
	.product-main-info
		overflow: hidden
		margin-bottom: 20px
	.product-consist
		padding-top: 0
	.order-params .desc
		margin-bottom: 30px
	.special-offer .offer-text
		font-size: 20px 
		line-height: 25px

		br 
			display: none 

	.special-offer
		padding-top: 27px
		padding-bottom: 27px

	// contacts 

	.contacts
		margin-top: 0
		padding-bottom: 40px
		&::after
			height: 100%

	.contacts-item .icon-block
		height: 100px
		margin-bottom: 0
		margin-top: 20px

	.contact-us .bottom-form

		&::after 
			display: none 
		&::before 
			display: none 

	// info2 

	.team .team-list .team-member-item
		padding-left: 0
		&:last-child
			margin-bottom: 0
			padding-bottom: 0
	.team .team-list .team-member-item .img-block
		position: relative
		top: 0
		left: 0
	.team .team-list .team-member-item
		text-align: center
		.img-block
			margin-left: auto
			margin-right: auto
	.job
		margin-top: 0
		background-size: cover
	.team .aside-menu
		margin-top: 0
		.aside-menu-list
			margin-top: 10px

	// info3 
	.company-inside
		.aside-menu
			margin-top: 30px
		.aside-menu-list
			margin-top: 0
	.company-inside .text-two-columns
		column-count: 1
	.company-inside .office-block .office-item
		margin-bottom: 30px
	.company-inside .company-advantages .title-with-sub
		margin-top: 0
		padding-top: 30px
		margin-bottom: 20px



	//info1

	.geo
		overflow: hidden

		&-map 
			overflow-x: scroll

	.info-delivery .h2
		margin-top: 30px
	.info-delivery .aside-menu
		margin-top: 20px
	.geo-text
		text-align: center
		padding-left: 0
	.geo-text-title
		padding-left: 0
		text-align: center
		margin-top: 30px
	.geo-form
		display: flex 
		flex-direction: column 
		& > div 
			margin-bottom: 20px
			margin-top: 20px

	// login1

	.info-user-block
		text-align: center

	//login2 

	.cabinet .recents-table .trow li
		font-size: 11px

	.cabinet .recents-table .thead li
		font-size: 12px 
		line-height: normal
	.recents-table
		margin-top: 40px

 

	


@media (min-width: 0) and (max-width: 360px)
	
	.open-menu-wrap
		left: 10%

	.header .top-header .header-title
		font-size: 13px 

@media (min-width: 450px) and (max-width: 900px)

	.header .top-header .header-title
		line-height: 37px

	.achieve-item
		margin-bottom: 0px

	// newslist 

	.newslist-items 
		.row 
			.col-md-4
				width: 49%
				display: inline-block

	// product page 

	.product-main-info .product-slider
		max-width: 450px 
	.product-main-info .product-buttons .btn-accent
		width: 300px
		margin-left: auto
		margin-right: auto
		display: block

	.special-offer::before
		bottom: -21px

	// contacts 

	.contact-us
		padding-top: 20px

		&::after
			top: 0

	// newsitem 
	.newsitem-share-block
		flex-wrap: wrap 
		justify-content: space-between

	//info3 
	.consult .img-wrap
		margin-left: auto
		margin-right: auto
		text-align: center
	.consult-form
		max-width: 400px
		margin-left: auto
		margin-right: auto








@media (min-width: 768px) and (max-width: 992px)

	.footer 

		&-nav 
			flex-direction: row 
			justify-content: flex-start
			align-items: flex-start

			&-title 
				text-align: left

			&-col 
				li 
					text-align: left

		.soc-media-row
			flex-direction: row 
			justify-content: flex-start

		&-soc-title
			text-align: left

		&-contact-item
			text-align: left

			&::after 
				left: 0

	.newslist 
		margin-top: 20px

		// & > .container > .row 
		// 	display: flex 
		// 	flex-direction: column

		// 	& > .col-md-3 
		// 		order: 2

		.last-news-item
			width: 300px
			height: 300px
			padding: 20px
			padding-top: 168px

			&:hover 

				img 
					transform: scale(1.3)
					transition: 0.35s all ease-in-out

				&::after 
					height: 120%
					opacity: .9
					transition: 0.35s all ease-in-out

			&::after 
				content: ""
				display: block 
				position: absolute
				transition: 0.35s all ease-in-out
				top: 0
				left: 0
				width: 100%
				height: 100%
				background: linear-gradient(180deg, rgba($dark-brown, .5) 0%, $dark-brown 60%, $dark-brown 100%)

			img 
				position: absolute
				top: 0
				left: 0
				width: 100%
				transition: 0.35s all ease-in-out

		.last-news-title 
			position: absolute
			left: 20px
			bottom: 152px
			width: 100%
			color: #ffffff
			font-size: 24px
			font-weight: 500
			line-height: 28px
			z-index: 10
			width: 260px


		.last-news-desc 
			color: #ffffff
			font-size: 16px
			font-weight: 300
			line-height: 20px
			z-index: 10
			position: relative

		.aside-menu-list
			margin-top: 0px
			margin-bottom: 40px

	.newsitem 
		margin-top: 20px

		& > .container > .row 
			display: block

		.aside-menu-list
			width: 100%

	// catalog 

	
	.catalog

		.title-page 
			display: none 

		.center-nav-row
			flex-direction: row 

			& > div 
				margin-bottom: 0px

	.catalog .aside-menu .aside-menu-list
		margin-top: 100px
		width: 100%
	
	// product 

	.order-params .desc
		br 
			display: none 

	.special-offer
		padding-top: 60px
		&::before
			bottom: 90px

	// contacts 

	.contacts-text
		height: 50px

	// info3 
	.company-inside .aside-menu-list
		width: 100%
		margin-top: 100px
	.company-inside .office-block .office-item
		width: 170px
		height: 170px

		&::after 
			width: 95.23%
			height: 95.23%
			top: 2.3%
			left: 2.3%
	
	// newsitem

	.subscribe
		text-align: center

		&-form
			width: 300px 
			margin-left: auto
			margin-right: auto
		.candy-button 
			margin-top: 20px



@media (min-width: 992px) and (max-width: 1200px)

	.text-section::after
		right: 0

	.candy-bg 
		display: none 

	.subscribe-block .btn-accent
		width: 100%
		margin-left: 0

		&::after 
			width: 100%
			left: 0
		&::before
			width: 100%
			left: 0
	.job
		margin-top: 0
		background-size: cover


	.special-offer
		padding-top: 76px
		&::before
			bottom: 75px