// VARS 
$white: #FDFDFD
$accent: #FF141E
$main_bg: #0C0C0C
$light_bg: #131313
$grey: #666666
$dark_grey: #9B9B9B
$whity: #FFFCFC
$light_grey: #D7D7D7
$grey_medium: #9B9B9B
$black_nav: #060606
$grey_nav: #A9A9A9
$grey_gallery: #FFF4F4


@keyframes menuBtn1

	0%
		transform: rotate(0deg)

	50%
		transform: translateY(8.7px)

	100% 
		transform: translateY(8.7px) rotate(45deg)

@keyframes menuBtn2

	0%
		transform: rotate(0deg)

	50%
		transform: translateY(-8.7px)

	100% 
		transform: translateY(-8.7px) rotate(-45deg)
	
	


.header__mobile 
	display: none

.newsitem__top-pic_mobile
	display: none

@media (min-width: 0) and (max-width: 767px) 

	.main-screen

		&__points 
			flex-wrap: wrap
			width: 250px
			margin-left: auto
			margin-right: auto
			padding: 0

			&-item 
				font-size: 8px 
				padding-left: 0
				min-width: 46%
				margin-right: 8%
				margin-bottom: 17px

				&:nth-child(2n)
					margin-right: 0

				&::after 
					display: none
	
	.newsitem 

		&__header 
			display: block
			margin-top: 45px

		&__title 
			width: 100%
			font-size: 15px
			font-weight: 700

		&__text 
			font-size: 10px
			margin-bottom: 30px

		&__content 
			margin-top: 45px

		&__date 
			display: none

		&__wrapper 
			margin-left: -15px
			margin-right: -15px
			position: relative
			margin-top: 0
			background: none 
			box-shadow: none
			margin-bottom: 15px

		&__top 
			&-pic 
				display: none
				&_mobile 
					display: block
					width: 100%
					height: auto

	.simple-header 
		padding-top: 9px
		padding-bottom: 9px

		&_gallery

			.simple-header__inner
				padding-left: 27px
				padding-right: 20px
				margin-right: 0

		&__title 
			font-size: 12px 
			line-height: normal
			margin-bottom: 13px

		&__text 
			font-size: 10px

		&__inner 
			padding-top: 21px
			padding-bottom: 25px

	.gallery-page 

		&__container 
			margin-top: 73px
			margin-bottom: 83px

		&__item 
			margin-right: 0
			width: 25%
			height: 69px
			margin-bottom: 0
			

@media (min-width: 0) and (max-width: 991px) 

	body
		background: $light_bg

	.header 

		&__logo 
			display: none 

		&__nav 
			display: none
	
	.header__mobile
		display: block
		position: relative
		
		&-top 
			display: flex 
			flex-direction: row 
			justify-content: space-between 
			align-items: center 
			padding-top: 12px
			padding-bottom: 12px
			padding-left: 23px
			padding-right: 23px

		&-menu 


			&-item 
				font-weight: 700
				font-size: 12px 
				text-transform: uppercase
				margin-bottom: 23px

				&-link 
					color: white 
					transition: 0.25s all ease-in-out

					&:hover 
						color: $accent
						transition: 0.25s all ease-in-out

					&.header__mobile-menu-item-link_cur
						color: $accent
						transition: 0.25s all ease-in-out 

				&:last-child
					margin-bottom: 0

			&-btn 
				background: none 
				border: none
				width: 32px
				height: 19px
				display: block
				cursor: pointer

				&.header__mobile-menu-btn_active

					.header__mobile-menu-btn-line

						&:nth-child(1)
							animation: menuBtn1 0.5s
							transform: translateY(8.7px) rotate(45deg)

						&:nth-child(2)
							opacity: 0

						&:nth-child(3)
							animation: menuBtn2 0.5s
							transform: translateY(-8.7px) rotate(-45deg)

				&-line 
					display: block
					height: 3.2px
					width: 100%
					margin-bottom: 5.5px
					background: white
					transition: 0.3s all ease-in-out


		&-nav 
			padding-top: 55px
			margin-bottom: 70px

			&-container 
				padding-left: 42px
				padding-right: 42px
				padding-bottom: 120px
				min-height: calc(100vh - 62px)
				background: $black_nav
				position: absolute 
				z-index: 10
				top: 62px 
				left: -15px
				width: calc(100% + 30px)
				transform: scale(0)
				transform-origin: 90% 0%
				opacity: 0
				transition: 0.5s all ease-in-out

				&.header__mobile-nav-container_active
					opacity: 1
					transform: scale(1)
					transition: 0.5s all ease-in-out

			&-contacts 

				&-item 
					display: flex 
					flex-direction: row 
					justify-content: space-between
					align-items: flex-start
					margin-bottom: 40px

					&:last-child 
						margin-bottom: 0

					&-address 
						font-weight: 300
						font-size: 12px 
						color: white 
						margin-right: 14px

					&-phone 
						color: $grey_nav
						font-size: 15px 
						font-weight: 300

		&-inst 
			display: block
			font-weight: 400
			font-size: 12px 
			text-transform: uppercase 
			padding-left: 20px 
			position: relative 
			transition: 0.25s all ease-in-out
			margin-bottom: 55px

			&:hover 
				color: $accent 
				transition: 0.25s all ease-in-out

			&::after 
				content: "" 
				display: block
				position: absolute
				width: 12px
				height: 12px
				background: url('../img/instagram-logo.svg') no-repeat 
				background-size: cover
				top: 50%
				margin-top: -6.5px
				left: 0 


	.main-screen

		&__title 
			margin-top: 130px
			font-size: 19px

			&_red-bold 
				font-size: 30px

			&_white-bold
				font-size: 30px


		&__anchor 

			&::after 
				border-width: 1.2px

	.btn 
		font-size: 15px
		padding: 12px 57px

		&_main 
			margin-top: 90px

		&_gallery
			font-weight: 400
			width: 250px 
			margin-left: auto
			margin-right: auto
			text-align: center
			display: block

	
	.h2 
		font-size: 20px 
		padding-top: 36px
		padding-bottom: 36px

		&::after 
			height: 1px
			width: 32px
			left: -38px
			margin-top: -1px
		&::before 
			height: 1px
			width: 32px
			right: -38px
			margin-top: -1px

		&_gallery 
			padding-top: 27px
			padding-bottom: 27px

	.menu 
		
		&__nav 

			&-list 
				flex-direction: column

				&-item 
					width: 100%
					background-position: center
					margin-bottom: 5px
					font-size: 15px

					&:last-child 
						margin-bottom: 0

					&:nth-child(1)
						background: url('../img/menu-pic-mobile-1.jpg') center no-repeat
						background-size: cover
					&:nth-child(2)
						background: url('../img/menu-pic-mobile-2.jpg') center no-repeat
						background-size: cover
					&:nth-child(3)
						background: url('../img/menu-pic-mobile-3.jpg') center no-repeat
						background-size: cover
					&:nth-child(4)
						background: url('../img/menu-pic-mobile-4.jpg') center no-repeat
						background-size: cover
					&:nth-child(5)
						background: url('../img/menu-pic-mobile-5.jpg') center no-repeat
						background-size: cover
					&:nth-child(6)
						background: url('../img/menu-pic-mobile-6.jpg') center no-repeat
						background-size: cover

					&-link 
						padding-top: 50px
						padding-bottom: 50px

	.guests 

		&__wrapper 
			padding-top: 0
			padding-bottom: 25px
			margin-bottom: 47px
			box-shadow: 5px 5px 13px 3px rgba(0,0,0,.5)
			margin-left: 15px
			margin-right: 15px

		&__block 
			margin-top: 13px

			.row 
				display: flex 
				flex-direction: column 

				.col-md-12
					&:nth-child(1)
						order: 2

			&-info 
				padding-top: 0
				padding-left: 5px
				padding-right: 5px
				margin-bottom: 40px
				padding-bottom: 50px

			&-name 
				font-size: 12px 
				margin-bottom: 9px

			&-about 
				font-size: 8px 
				margin-bottom: 20px

			&-feedback 
				font-size: 12px

			&-image 
				position: relative
				margin-left: -15px
				margin-right: -15px
				display: flex 
				flex-direction: row 
				justify-content: space-between
				align-items: flex-start

				&-main
					flex: 1
					width: 50%
					height: auto

				&-side 
					width: 50%
					height: auto
					flex: 1
					position: relative 
					top: auto 
					left: auto 
					margin-top: 0
					margin-left: 0

	.gallery 
		background: $light_bg

		&__info 
			margin-top: 30px
			margin-left: 0
			margin-right: 0
			padding-top: 60px
			padding-left: 20px
			padding-right: 20px
			box-shadow: 5px 5px 13px 3px rgba(0,0,0,.5)
			margin-bottom: 45px

		&__side-rect 
			display: none 

		&__title
			color: $grey_gallery
			text-align: center
			font-weight: 400
			font-size: 15px

		&__text 
			font-size: 10px 
			color: white
			text-align: center
			margin-bottom: 50px

	.footer 
		background: $main_bg

		&__main 
			margin-top: 0
			padding-top: 45px
			margin-left: 20px
			margin-right: 20px
			margin-bottom: 30px

		&__nav 
			display: none 

		&__logo 
			display: none 

		&__contacts 
			margin-left: 0 
			font-size: 8px

			&-item 
				&-address 
					margin-bottom: 10px

		&__subtitle 
			font-size: 10px
			margin-bottom: 15px

		&__worktime 
			font-size: 12px
			line-height: 15px

			&_small 
				font-size: 10px

		&__inst 
			font-size: 8px

		&__copyright 
			padding-bottom: 40px
			margin-bottom: 0
	
	.menuitem 

		&__top 
			height: 117px
			background: url('../img/menuitem-img-mobile.jpg') center no-repeat
			background-size: cover

		&__title 
			font-size: 15px

		&__list 
			margin-top: 45px
			margin-bottom: 60px

			&-item 
				margin-right: 0
				margin-left: 0
				width: 100%
				padding-left: 42px
				padding-right: 42px
				padding-top: 15px
				padding-bottom: 15px
				font-size: 12px 

				&:nth-child(2n)
					margin-left: 0

				&-top 
					&::after 
						font-size: 12px
						bottom: 14px
						content: "............................................................................................................................................................................................................................................."
				&-name 
					&-wrapper 
						&::after 
							width: 3px

	.newslist

		&__top-image
			height: 117px
			background: url('../img/news-bg-mobile.jpg') center no-repeat
			background-size: cover 
			margin-bottom: 7px

		&__wrapper 
			background: none 
			box-shadow: none
			padding-left: 0
			padding-right: 0
			position: relative
			margin-bottom: -45px

		&__item 
			margin-left: -15px
			margin-right: -15px
			margin-bottom: 92px

			&-link 
				margin-left: 30px
				margin-right: 30px
				font-size: 13px

			&-img 
				&_blurred
					left: -30px

@media (min-width: 375px) and (max-width: 410px)

	.newslist__item-link
		font-size: 15px 

@media (min-width: 411px) and (max-width: 992px)

	.newslist__item-link
		font-size: 18px 					

@media (min-width: 768px) and (max-width: 991px) 

	.top-wrapper 
		overflow: hidden

	.h2 
		font-size: 25px 

	.menu
		&__nav
			&-list
				&-item
					font-size: 20px

	.guests__block-name
		font-size: 18px

	.guests__block-about
		font-size: 11px

	.guests__block-feedback
		font-size: 16px

	.guests__block-info
		padding-left: 20px
		padding-right: 20px

	.header 
		
		&__mobile 
			&-nav 
				position: relative
				z-index: 2

				&-contacts 
					position: relative
					z-index: 2
				&-container 
					&::before 
						background: $black_nav
						width: 300%
						position: absolute
						left: -100%
						top: 0
						content: ""
						display: block 
						height: 100%
	
	.main-screen

		&__points 

			&-item 
				font-size: 10px

	.gallery

		&__title 
			font-size: 25px 

		&__text 
			font-size: 15px

		&__info 
			padding-left: 50px
			padding-right: 50px

@media (min-width: 992px) and (max-width: 1199px) 

	.newslist__item-link
		font-size: 13px 

	.menu__nav-list-item-link
		height: 540px
		display: flex 
		flex-direction: row
		justify-content: center
		align-items: center

	.guests
		overflow: hidden

		&__wrapper
			margin-left: 0
			margin-right: 0
			background: none
			box-shadow: none
			margin-bottom: 50px

			&_mobile 
				background: url('../img/bg-guests.jpg') no-repeat
				background-size: cover 
				padding-top: 10px
				padding-bottom: 50px
				box-shadow: 7px 7px 20px 6px rgba(0,0,0,.7)

		&__block 

			&-info 
				padding-left: 30px
				padding-right: 30px
				margin-bottom: 50px
				padding-top: 0

			.row 
				display: flex 
				flex-direction: column

				.col-lg-6 
					&:nth-child(1)
						order: 2

			&-image 
				position: relative
				display: flex 
				flex-direction: row 
				justify-content: space-between
				align-items: flex-start

				&-main
					flex: 1
					width: 50%
					height: auto

				&-side 
					width: 50%
					height: auto
					flex: 1
					position: relative 
					top: auto 
					left: auto 
					margin-top: 0
					margin-left: 0

	.gallery__info
		margin-left: 30px
		margin-right: 30px

@media (min-width: 1200px) and (max-width: 1300px) 

	.menu__nav-list-item-link
		height: 540px
		display: flex 
		flex-direction: row
		justify-content: center
		align-items: center

	.guests
		overflow: hidden

		&__wrapper
			margin-left: 0
			margin-right: 0
			background: none
			box-shadow: none
			margin-bottom: 200px

			&_mobile 
				background: url('../img/bg-guests.jpg') no-repeat
				background-size: cover 
				padding-top: 10px
				padding-bottom: 50px
				box-shadow: 7px 7px 20px 6px rgba(0,0,0,.7)



